
<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Neurologist</div>
  	<button class="nav_btn nav_not floatRight"></button>
  	<div class="clear"></div>
  </div>
  <div class="nav_header">
  	<div class="nav_filter_bay">
  		<ul>
	  		<li class="nav_sort1" [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)">Sort<hr></li>
	  		<li class="nav_sort2" [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)">Filter<hr></li>
	  		<li class="floatRight s_search_loc" (click)="map()">Map</li>
  		</ul>
  	</div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<ion-slides pager="false" #mySlider  (ionSlideDidChange)="slideChanged()">

<!-- STARTS-SORT-CONTENT -->

        <ion-slide >
        	<div class="s_sort_n_filter_form">
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container s_search_grey">
						<input class="s_signup_input" placeholder="Q & A">
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container">
						<select class="s_home_inner_select">
							<option>Distance</option>
						</select>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container">
						<select class="s_home_inner_select">
							<option>Language</option>
						</select>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<p>Price</p>
        			<div class="s_signup_input_container">
						<select class="s_home_inner_select">
							<option>Low to High</option>
						</select>
					</div>
        		</div>
        	</div>
        </ion-slide>

<!-- ENDS-SORT-CONTENT -->

<!-- STARTS-FILTER-CONTENT -->

        <ion-slide>
        	<div class="s_sort_n_filter_form">
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container s_search_grey">
						<ion-input class="s_signup_input" placeholder="Sub Speciality"></ion-input>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container">
						<select class="s_home_inner_select">
							<option>Degree</option>
						</select>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container">
						<select class="s_home_inner_select">
							<option>Language</option>
						</select>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<p>Availability</p>
        			<div class="s_signup_radio_check textLeft">
						<label class="radio"> 
		      				<input checked="" name="day" type="radio" value="3days">
		      				<span>Next 3 Days</span> 
	   					</label><br><br>
					  	<label class="radio"> 
					      <input name="day" type="radio" value="today">
					      <span>Available Today</span> 
					  	</label>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container">
						<select class="s_home_inner_select">
							<option>Insurance</option>
						</select>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
        			<div class="s_signup_input_container">
						<select class="s_home_inner_select">
							<option>Reason</option>
						</select>
					</div>
        		</div>
        		<div class="s_sort_filter_row">
					 <ion-list radio-group>
						  <ion-item>
							<ion-label>VISIT</ion-label>
							<ion-radio  value="visit"></ion-radio>
						  </ion-item>
						  <ion-item>
							<ion-label>CHAT</ion-label>
							<ion-radio value="chat"></ion-radio>
						  </ion-item>

						  <ion-item>
							<ion-label>VIDEO</ion-label>
							<ion-radio value="video"></ion-radio>
						  </ion-item>
					</ion-list>
        		</div>
        	</div>
        </ion-slide>

<!-- ENDS-FILTER-CONTENT -->

    </ion-slides>
</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer padding>
	<button ion-button class="s_sort_apply_btn theme_background_four text_color_one" (click)="dismiss()">Apply<span><img src="assets/imgs/s_check.png"></span></button>
</ion-footer>

<!-- ENDS-FOOTER -->
