<!-- STARTS-HEADER -->

<!-- <ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Dr. AlexaVega</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header> -->

<!-- END-HEADER -->

<ion-content  class="theme_off_white no-scroll">
	<div class="s_video_call_screen">
		<div class="s_video_call_caller_img">
			<img src="assets/imgs/s_caller_img2.png">
		</div>
		<img src="assets/imgs/s_caller_img1.png">
		<div class="s_video_call_bottom_bay">
			<button ion-button class="s_end_call_btn" (click)="dismiss()">
			</button>
			<p class="s_call_timer">05:45</p>
		</div>
	</div>
</ion-content>



