
<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft">Appointment</div>
  	<button class="nav_btn nav_not floatRight"></button>
  	<div class="clear"></div>
  </div>
  <div class="nav_header">
  	<div class="nav_filter_bay">
  		<ul>
	  		<li class="nav_app1" [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)">Past<hr></li>
	  		<li class="nav_app2" [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)">Active<hr></li>
  		</ul>
  	</div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<ion-slides pager="false" #mySlider  (ionSlideDidChange)="slideChanged()">

<!-- STARTS-SORT-CONTENT -->

        <ion-slide >

<!-- STARTS-APPOINTMENTS-LIST-->

	<div class="s_searchresult_div">
		<ul>
			<li (click)="open_page('AppointmentdetailPage')">
				<div class="s_search_pic floatLeft">
				</div>
				<div class="s_search_detail floatRight">
					<div class="s_search_detail_inner floatLeft" style="padding-top: 20px;">
						<h4 class="textLeft">Dr Elezebeth</h4>
						<p>Dec - 6 - 2017&nbsp;&nbsp;10.00 am</p>
					</div>
					<div class="s_circle_right floatRight">
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>
			<li (click)="open_page('AppointmentdetailPage')">
				<div class="s_search_pic floatLeft">
				</div>
				<div class="s_search_detail floatRight">
					<div class="s_search_detail_inner floatLeft" style="padding-top: 20px;">
						<h4 class="textLeft">Dr Elezebeth</h4>
						<p>Dec - 6 - 2017&nbsp;&nbsp;10.00 am</p>
					</div>
					<div class="s_circle_right floatRight">
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>
			<li (click)="open_page('AppointmentdetailPage')">
				<div class="s_search_pic floatLeft">
				</div>
				<div class="s_search_detail floatRight">
					<div class="s_search_detail_inner floatLeft" style="padding-top: 20px;">
						<h4 class="textLeft">Dr Elezebeth</h4>
						<p>Dec - 6 - 2017&nbsp;&nbsp;10.00 am</p>
					</div>
					<div class="s_circle_right floatRight">
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>
		</ul>
	</div>

<!-- ENDS-APPOINTMENTS-LIST-->

        </ion-slide>

<!-- ENDS-SORT-CONTENT -->

<!-- STARTS-FILTER-CONTENT -->

        <ion-slide>
        	2
        </ion-slide>

<!-- ENDS-FILTER-CONTENT -->

    </ion-slides>
</ion-content>


