
<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Change Password</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding>
	<div class="s_signup_form" style="padding-top:0px !important;">
		<div class="s_signup_row">
			<div class="s_signup_input_container">
				<input class="s_signup_input" placeholder="Current Password">
			</div>
		</div>
		<div class="s_signup_row">
			<div class="s_signup_input_container">
				<input class="s_signup_input" placeholder="New Password">
			</div>
		</div>
		<div class="s_signup_row">
			<div class="s_signup_input_container">
				<input class="s_signup_input" placeholder="Confirm New Password">
			</div>
		</div>
	</div>

</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer padding>
	<button ion-button class="s_sort_apply_btn theme_background_four text_color_one" (click)="dismiss()">Apply<span><img src="assets/imgs/s_check.png"></span></button>
</ion-footer>

<!-- ENDS-FOOTER -->
