
<ion-content>
	<div class="s_result_detail_container weightFull heightFull">

<!-- STARTS-BANNER -->

		<div class="s_home_banner theme_print textCenter" style="height: 265px;">
			<div class="nav_header">
				<button class="nav_btn floatLeft nav_back" (click)="goBack()"></button>
				<button class="nav_btn floatRight s_notification"></button>
				<div class="clear"></div>
			</div>
			<div class="s_home_circle theme_background_three">
			</div>
			<h4 class="text_color_white">Praontia Clinic</h4>
			<p>Madrid<span><img src="assets/imgs/s_pink_dot.png"></span>Carlspen street</p>
		</div>

<!-- ENDS-BANNER -->
		

<!-- STARTS-RESULT-DETAIL -->

		<div class="s_search_result_detail">
			<div class="s_medical_div">
			<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col col-5 class="">
				    	<div class="s_medical_container">
				    		<select class="s_medical_input">
				    			<option>Medicine</option>
				    		</select>
				    	</div>
				    </ion-col>
				    <ion-col col-5 class="">
				    	<div class="s_medical_container">
				    		<div class="s_medical_input theme_transparent">
				    			Discount 10%
				    		</div>
				    	</div>
				    </ion-col>
				    <ion-col col-2 class="textRight">
				    	<div class="s_article_circle_add theme_background_four text_color_one floatRight">
						+
					</div>
				    </ion-col>
				</ion-row>
			</ion-grid>
			<div class="s_medical_list">
				<ul>
					<li>
						<ion-grid class="">
							  <ion-row class="">
							  	<ion-col col-1 class=""> 
							  	1.
							  	</ion-col>
							    <ion-col col-5 class=""> 
							    Medicine   	
							    </ion-col>
							    <ion-col col-6 class="text_color_red textRight">
							    	10%
							    </ion-col>
							</ion-row>
						</ion-grid>
					</li>
					<li>
						<ion-grid class="">
							  <ion-row class="">
							  	<ion-col col-1 class=""> 
							  	2.
							  	</ion-col>
							    <ion-col col-5 class=""> 
							    Beauty  	
							    </ion-col>
							    <ion-col col-6 class="text_color_red textRight">
							    	20%
							    </ion-col>
							</ion-row>
						</ion-grid>
					</li>
				</ul>
				<div class="textCenter">
				<button ion-button class="s_booknow theme_background_four text_color_one" (click)="open_page('BookingPage')">Book now<span><img src="assets/imgs/s_pointer.png"></span></button>
			</div>
			</div>
			</div>

<!-- STARTS-RESULT-DETAIL-TAB -->
	
			<div class="s_search_result_tab_bay">
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col class="p0 textLeft">
				    <span><img src="assets/imgs/s_about.png"></span>
				      <span>About</span>
				    </ion-col>
				    <ion-col class="p0 textLeft">
				    <span><img src="assets/imgs/s_gallery.png"></span>
				      <span>Gallery</span>
				    </ion-col>
				    <ion-col class="p0 textLeft">
				    <span><img src="assets/imgs/s_qa.png"></span>
				      <span>Q & A</span>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</div>

<!-- ENDS-RESULT-DETAIL-TAB -->

<!-- STARTS-RESULT-DETAIL-CONTENTS -->
			
			<div class="s_search_result_head_panel text_color_one">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_map.png">
				</div>
				<h5>MAP</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<div class="s_search_map">
					<div #map id="map"></div> 
				</div>
				<p>KMS Ayurveda Clinic</p>
				<div class="s_search_appointment_list">
					<ion-scroll scrollX="true" style="height:100px;">
						<ul>
						<ion-row nowrap>		
								<li class="s_search_appointment_inner">
									<p><strong>Wed 5 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 6 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 8 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 9 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 10 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 11 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>

						</ion-row>
						</ul>
					</ion-scroll>
				</div>
			</div>
			<div class="s_search_result_head_panel text_color_one">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_abouts.png">
				</div>
				<h5>ABOUT</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h6>
				<button class="s_more">More</button>
			</div>
			<div class="s_search_result_head_panel text_color_one">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_gallerys.png">
				</div>
				<h5>GALLERY</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<div class="s_search_gallery_list">
					<ion-scroll scrollX="true" style="height:100px;">
						<ul>
							<ion-row nowrap class="textLeft">
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
							
							</ion-row>
						</ul>
					</ion-scroll>
				</div>
			</div>

<!-- ENDS-RESULT-DETAIL-CONTENTS -->


		</div>

<!-- ENDS-RESULT-DETAIL -->

	</div>
</ion-content>
