<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft widthAuto">Articles Listing</div>
  	<button class="floatRight s_view_btn">View Saved</button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->


<ion-content padding class="theme_off_white">
	<div class="s_search_article">
					<ul>
						<li (click)="open_page('ArticledetailPage')">
							<div class="s_article_pic">
								<img src="assets/imgs/s_img.png">
							</div>
							<div class="s_article_detail">
								<h5>Hair care</h5>
								<h3>Hair Breakage Cause</h3>
								<p>Dr.Morgan Freeman</p>
								<span><img src="assets/imgs/s_like.png"></span>
								<span><img src="assets/imgs/s_share.png"></span>
							</div>
							<div class="clear"></div>
						</li>
						<li (click)="open_page('ArticledetailPage')" >
							<div class="s_article_pic">
								<img src="assets/imgs/s_img.png">
							</div>
							<div class="s_article_detail">
								<h5>Hair care</h5>
								<h3>Hair Breakage Cause</h3>
								<p>Dr.Morgan Freeman</p>
								<span><img src="assets/imgs/s_like.png"></span>
								<span><img src="assets/imgs/s_share.png"></span>
							</div>
							<div class="clear"></div>
						</li>
						<li >
							<div class="s_article_pic">
								<img src="assets/imgs/s_img.png">
							</div>
							<div class="s_article_detail">
								<h5>Hair care</h5>
								<h3>Hair Breakage Cause</h3>
								<p>Dr.Morgan Freeman</p>
								<span><img src="assets/imgs/s_like.png"></span>
								<span><img src="assets/imgs/s_share.png"></span>
							</div>
							<div class="clear"></div>
						</li>
						<li >
							<div class="s_article_pic">
								<img src="assets/imgs/s_img.png">
							</div>
							<div class="s_article_detail">
								<h5>Hair care</h5>
								<h3>Hair Breakage Cause</h3>
								<p>Dr.Morgan Freeman</p>
								<span><img src="assets/imgs/s_like.png"></span>
								<span><img src="assets/imgs/s_share.png"></span>
							</div>
							<div class="clear"></div>
						</li>
						<li >
							<div class="s_article_pic">
								<img src="assets/imgs/s_img.png">
							</div>
							<div class="s_article_detail">
								<h5>Hair care</h5>
								<h3>Hair Breakage Cause</h3>
								<p>Dr.Morgan Freeman</p>
								<span><img src="assets/imgs/s_like.png"></span>
								<span><img src="assets/imgs/s_share.png"></span>
							</div>
							<div class="clear"></div>
						</li>
					</ul>
				</div>

</ion-content>
