<ion-fab right>
    <button ion-fab class="s_fab_btn theme_background_four text_color_one"><ion-icon name="call"></ion-icon></button>
    <ion-fab-list side="top" class="s_fab_icon_list">
      <li><span><img src="assets/imgs/s1.png"></span><!-- <span>Emergency Call</span> --></li>
      <li><span><img src="assets/imgs/s2.png"></span><!-- <span>Centralized Booking</span> --></li>
      <li><span><img src="assets/imgs/s3.png"></span><!-- <span>Customer Service</span> --></li>
    </ion-fab-list>
  </ion-fab>