<!-- HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft">Booking</div>
  	<button class="nav_btn nav_not floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<div class="s_booking_container">
		<h4>Have you used Re3aya 24/7<br>
before ?</h4>

		<div class="s_signup_row">
			<div class="s_signup_radio_check">
				<label class="radio"> 
	      			<input type="radio" name="sex" value="male" checked>
	      			<span> I’m new to Re3aya 24/7 </span> 
   				</label>
   				<br><br>
				<label class="radio "> 
				    <input type="radio" name="sex" value="female">
				    <span>I have used Re3aya 24/7 before </span> 
				</label>
			</div>
		</div>

<!-- LOGIN-DIV-STARTS -->

		<!-- <div>
			<h5 class="text_color_two">Login</h5>
			<hr>
			<br>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<input class="s_signup_input" placeholder="Username">
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<input class="s_signup_input" placeholder="Password">
				</div>
			</div>
			
			<p (click)="forgot()">Forgot Password</p>
			<br><br>
			<p><strong>Login Using</strong></p> 
			<br>
			<div class="s_social_login_container pt0">
				<ul class="textLeft">
					<li class="s_login_social s_login_facebook"></li>
					<li class="s_login_social s_login_twitter"></li>
					<li class="s_login_social s_login_google"></li>
				</ul>
			</div>
		</div> -->

<!-- ENDS-LOGIN-DIV -->

<!-- SIGNUP-DIV-STARTS -->

		<div>
			<h5 class="text_color_two">Signup</h5>
			<hr>
			<br>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<input class="s_signup_input" placeholder="Username">
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<input class="s_signup_input" placeholder="Password">
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_radio_check">
					<label class="radio inline"> 
	      				<input type="radio" name="sex" value="male" checked>
	      				<span> Male </span> 
   					</label>
				  <label class="radio inline"> 
				      <input type="radio" name="sex" value="female">
				      <span>Female </span> 
				  </label>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<input class="s_signup_input" placeholder="Email">
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<input class="s_signup_input" placeholder="Password">
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<input class="s_signup_input" placeholder="Mobile">
				</div>
			</div>
			
			<p>I agree to the Privacy policy and Terms and<br> Conditions</p>
			<br><br>
			<p><strong>Signup Using</strong></p> 
			<br>
			<div class="s_social_login_container pt0">
				<ul class="textLeft">
					<li class="s_login_social s_login_facebook"></li>
					<li class="s_login_social s_login_twitter"></li>
					<li class="s_login_social s_login_google"></li>
				</ul>
			</div>
		</div>
		
<!-- ENDS-SIGNUP-DIV -->

	</div>
</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer padding>
	<ion-grid class="p0">
			<ion-row class="p0">
				<ion-col col-5>
					<button ion-button class="s_sort_apply_btn theme_background_four text_color_one" (click)="open_page('BookingreasonPage')">Continue
						<span><img src="assets/imgs/s_continue.png"></span></button>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-footer>

<!-- ENDS-FOOTER -->

