<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Chat</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">

<!-- CHAT-LIST -->

	<div class="s_chat_wrapper">
		<ul>
			<li class="s_sender">
				<div class="s_top_div">
					<div class="s_top_pic"></div>
					<div class="s_top_detail">
						<h5>ZEN</h5>
						<p>Dermatologist, 5:30 pm</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_top_message">
					<div class="s_arrow_up"></div>
					Hiii!
				</div>
			</li>
			<li class="s_receive">
				<div class="s_top_div">
					<div class="s_top_pic"></div>
					<div class="s_top_detail">
						<h5>Laura Simon</h5>
						<p>5:30 pm</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_top_message">
					<div class="s_arrow_up"></div>
					Hi !, Where are you guys?
				</div>
			</li>
		</ul>
	</div>

<!-- END-CHAT-LIST -->

</ion-content>


<!-- STARTS-FOOTER -->

<ion-footer>
	<div class="s_message_type">
		<div class="s_attach floatLeft">
		</div>
		<textarea class="s_message_input floatLeft" placeholder="Type here"></textarea>
		<div class="s_enter floatRight"></div>
		<div class="clear"></div>
	</div>
</ion-footer>

<!-- ENDS-FOOTER -->


