<!-- HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft">Booking</div>
  	<button class="nav_btn nav_not floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<div class="s_booking_container">
		<h4 class="p0">Insurance and Reason?</h4>
		<br>
		<div class="s_signup_row">
			<p>Will you use Insurance ?</p><br>
			<div class="s_signup_input_container">
				<select class="s_home_inner_select">
					<option>I am paying for myself</option>
				</select>
			</div>
		</div>
		<div class="s_signup_row">
			<p>What is the reason for your visit ?</p><br>
			<div class="s_signup_input_container">
				<select class="s_home_inner_select">
					<option>Full body Checkup</option>
				</select>
			</div>
		</div>
	</div>
</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer padding>
	<ion-grid class="p0">
			<ion-row class="p0">
				<ion-col col-5>
					<button ion-button class="s_sort_apply_btn theme_background_four text_color_one" (click)="success()">Continue
						<span><img src="assets/imgs/s_continue.png"></span></button>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-footer>

<!-- ENDS-FOOTER -->

