
<ion-content padding class="theme_white_transparent">
	<div class="s_ask_ques_pop">
		<div class="s_ask_ques_head theme_background_two">
			Ask a new Question
			<div class="s_ask_close" (click)="dismiss()"></div>
		</div>
		<div padding>
		<textarea class="s_ask_textarea" rows="4" placeholder="Question here"></textarea>
		<div class="textCenter">
			<button class="s_ask_submit theme_background_four text_color_two" (click)="dismiss()">Submit</button>
		</div>
		</div>
	</div>
</ion-content>
