
<ion-content class="heightFull theme_plain">

<!-- SIGNUP-CONTAINER-STARTS -->

	<div class="s_signup_container heightFull">

<!-- SIGNUP-BANNER-STARTS -->

		<div class="s_signup_banner">
			<div class="nav_header theme_background_two fixed top0 left0 right0">
				<button class="nav_btn floatLeft nav_back"  (click)="dismiss()"></button>
				<div class="clear"></div>
			</div>
			<div class="s_signup_pic_circle">
				<img src="assets/imgs/s_img1.png">
			</div>
		</div>

<!-- ENDS-SIGNUP-BANNER -->

<!-- SIGNUP-FORM-STARTS -->

		<div padding class="s_signup_form">
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input disabled="" class="s_signup_input" placeholder="Alexander"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input disabled class="s_signup_input" placeholder="Flimen"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input disabled class="s_signup_input" placeholder="alexflimen@gmail.com"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input disabled class="s_signup_input" placeholder="+91 9965421369"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input disabled class="s_signup_input" placeholder="India"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input disabled class="s_signup_input" placeholder="Kerala"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input disabled class="s_signup_input" placeholder="Ernakulam"></ion-input>
				</div>
			</div>
		</div>

<!-- SIGNUP-FORM-ENDS -->

	</div>

<!-- ENDS-SIGNUP-CONTAINER -->

</ion-content>

