
<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft">Contact History</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
   <div class="nav_header">
  	<div class="nav_filter_bay">
  		<ul>
	  		<li class="nav_chat" [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)">Chat<hr></li>
	  		<li class="nav_call1" [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)">Call Details<hr></li>
  		</ul>
  	</div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<ion-slides pager="false" #mySlider  (ionSlideDidChange)="slideChanged()">

<!-- STARTS-HISTORY-CONTENT -->

        <ion-slide >
        	<div class="s_chat_list">
        		<ul>
        			<li (click)="chat()">
        				<div class="s_video_pic">
        				</div>
        				<div class="s_video_detail">
        					<h5>Meeta Alex</h5>
        					<p>Hi! How are you?</p>
        				</div>
        				<div class="s_chat_date textRight">
        					<p>05: 30 pm</p>
        					<div class="s_chat_noti theme_background_four text_color_one floatRight">
        						2
        					</div>
        				</div>
        				<div class="clear"></div>
        			</li>
        		</ul>
        	</div>
        </ion-slide>
        <ion-slide >
        	<div class="s_videocall_list">
        		<ul>
        			<li class="s_incoming" (click)="videocall()">
        				<div class="s_video_pic">
        				</div>
        				<div class="s_video_detail">
        					<h5>Dr. Alexa vega</h5>
        					<p>23/07/2017&nbsp;&nbsp;05:30pm</p>
        				</div>
        				<div class="s_video_call">
        				</div>
        				<div class="clear"></div>
        			</li>
        			<li class="s_outgoing" (click)="audiocall()">
        				<div class="s_video_pic">
        				</div>
        				<div class="s_video_detail">
        					<h5>Dr. Alexa vega</h5>
        					<p>23/07/2017&nbsp;&nbsp;05:30pm</p>
        				</div>
        				<div class="s_video_call">
        				</div>
        				<div class="clear"></div>
        			</li>
        			<li class="s_missed">
        				<div class="s_video_pic">
        				</div>
        				<div class="s_video_detail">
        					<h5>Dr. Alexa vega</h5>
        					<p>23/07/2017&nbsp;&nbsp;05:30pm</p>
        				</div>
        				<div class="s_video_call">
        				</div>
        				<div class="clear"></div>
        			</li>
        		</ul>
        	</div>
        </ion-slide>

<!-- ENDS-HISTORY-CONTENT -->

    </ion-slides>

</ion-content>
