
<ion-content class="heightFull theme_plain">

<!-- OTP-CONTAINER-STARTS -->

	<div class="s_signup_container heightFull">

<!-- OTP-BANNER-STARTS -->

		<div class="s_otp_banner">
			<h5>Verify</h5>
			<hr>
		</div>

<!-- ENDS-OTP-BANNER -->

<!-- OTP-DETAILS -->

		<div class="s_otp_details">
			<p>We have sent you a 4 Digit verification<br> code to your mobile</p>
			<br>
			<p><strong>+42 659861325</strong></p>
			<div class="s_otp_input_div">
				<ul>
					<li><ion-input class="s_otp_input"></ion-input></li>
					<li><ion-input class="s_otp_input"></ion-input></li>
					<li><ion-input class="s_otp_input"></ion-input></li>
					<li><ion-input class="s_otp_input"></ion-input></li>
				</ul>
			</div>
			<div class="s_signup_row textCenter">
				<button class="s_otp_verify" (click)="dismiss()">Verify</button>
			</div>
			<div class="s_signup_row textCenter">
				<p>Resend Code</p>
			</div>
			<div class="s_signup_row textCenter">
				<button class="nav_btn text_color_four s_dismiss_otp theme_background_two" (click)="dismiss()">
			 		<ion-icon name="close"></ion-icon>
				</button>
			</div>
		</div>

<!-- ENDS-OTP-DETAILS -->


	</div>

<!-- ENDS-OTP-CONTAINER -->

</ion-content>
