<ion-content>

<!-- HOME-CONTAINER-STARTS -->

	<div class="s_home_container heightFull">
		<div class="s_home_banner theme_background_one textCenter">
			<div class="nav_header">
				<button menuToggle class="nav_btn floatLeft s_menu_bar"></button>
				<button class="nav_btn floatRight s_notification" (click)="notification()"></button>
				<div class="clear"></div>
			</div>
			<div class="s_home_circle theme_background_three">
			</div>
			<h4>Hi !</h4>
			<h3>Jessica Nolan</h3>
			<hr>
		</div>

<!-- STARTS-BANNER-CONTENT -->

		<div class="s_home_banner_content">
			<div class="s_home_inner_content">
				<div class="s_home_inner_row">
					<div class="s_home_inner_container">
						<select class="s_home_inner_select">
							<option>Doctor</option>
						</select>
					</div>
				</div>
				<div class="s_home_inner_row">
					<div class="s_home_inner_container">
						<select class="s_home_inner_select">
							<option>Location</option>
						</select>
					</div>
				</div>
				<div class="s_home_inner_row">
					<div class="s_home_inner_container">
						<select class="s_home_inner_select">
							<option>Select Speciality</option>
						</select>
					</div>
				</div>
				<div class="s_home_inner_row">
					<div class="s_home_inner_container">
						<select class="s_home_inner_select">
							<option>City / State</option>
						</select>
					</div>
				</div>
				<br>
				<div class="s_home_inner_row">
					<button ion-button class="s_home_find_btn" (click)="open_page('SearchresultPage')">FIND<span><img src="assets/imgs/s_find_search_btn.png"></span></button>
				</div>
			</div>
		</div>

<!-- ENDS-BANNER-CONTENT -->

	</div>

<!-- ENDS-HOME-CONTAINER -->

</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer>

<!-- FAB -->

	<fab>
	</fab>

<!-- FAB-CUSTOM-TABS -->

<!-- STARTS-CUSTOM-TABS -->

	<customtab>
	</customtab>

<!-- ENDS-CUSTOM-TABS -->

</ion-footer>

<!-- ENDS-FOOTER -->
