
/*
	Site Name: SafetyApp
	URI: http:
	Description: This is the custom css for 
	Version: 1.0
	Author: Amal-Techware Solution
	Author URI:
	Tags:

	---------------------------
	CUSTOM STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------

	01. SIGNIN-PAGE-STYLE
	02. SIGNUP-PAGE-STYLE
	03. OTP-PAGE-STYLE
	04. MAIN-TAB-COMPONENT-STYLE
	05. HOME-PAGE-STYLE
	06. SIDEMENU-PAGE-STYLE
	07. SEARCH-RESULT-PAGE-STYLE
	08. FILTER-SORT-PAGE-STYLE
	09. RESULT-DETAIL-PAGE-STYLE
	10. ASKQUES-PAGE-STYLE
	11. POP-OVER-PAGE-STYLE
	12. NOTIFICATION-PAGE-STYLE
	13. ARTICLE-CATEGORY-PAGE-STYLE
	14. ARTICLE-DETAIL-PAGE-STYLE
	15. FORGOT-PAGE-STYLE
	16. CLINIC-DETAIL-PAGE-STYLE
	17. BOOKING-PAGE-STYLE
	18. SUCCESS-PAGE-STYLE
	19. APPOINTMENT-PAGE-STYLE
	20. CONTACT-HISTORY-PAGE-STYLE
	21. CHAT-PAGE-STYLE
	22. VIDEO-CALL-PAGE-STYLE
	23. AUDIO-CALL-PAGE-STYLE
	24. PRESCRIPTION-PAGE-STYLE
	25. WALLET-PAGE-STYLE
	26. SETTINGS-PAGE-STYLE
	27. FAB-BTN-STYLE
*/


/*-------------------------------

01. SIGNIN-PAGE-STYLE

--------------------------------*/

.s_login_container{width:100%;height:100%;padding-top: 20%;}
.s_login_logo_container{width:100%;text-align: center;padding-bottom: 20%;}
.s_login_logo_container img{width:180px;}
.s_login_form{width:90%;margin:0 auto;background-color: #fff;box-shadow: 0px 0px 30px 0px #888888;}
.s_login_row{width:100%;}
.s_login_input_container{width:100%;height:55px;}
.s_login_label{width:50px;height:100%;background-color:#e9e8e8 !important;float: left;background-repeat: no-repeat !important;background-position: center !important;background-size: 30px !important;}
.s_login_input{width:calc(100% - 50px);float: left;height:100%;border:none;padding-left: 15px;font-size: 16px;font-weight: 300;letter-spacing: 1px;}
.s_login_input::-webkit-input-placeholder { color:#8d8d8d;}
.s_login_input::-moz-placeholder { color: #8d8d8d;}
.s_login_input:-ms-input-placeholder { color: #8d8d8d;}
.s_login_input:-moz-placeholder { color: #8d8d8d;}
.s_login_btn{width:100%;height:100%;color: #fff;font-size: 16px;letter-spacing: 2px;margin:0px !important;border-radius: 0px !important;}
.s_login_btn span{margin-left:10px;}
.s_login_btn span img{width:30px;}
.s_login_user{background:url("../assets/imgs/s_user.png");}
.s_login_pass{background:url("../assets/imgs/s_password.png");}
.s_social_login_container{width:100%;padding-top:40px;}
.s_social_login_container p{margin:0px;color: #fff;text-align: center;font-size: 16px;padding-bottom: 15px;}
.s_social_login_container ul{padding:0px;margin:0px;width:100%;text-align: center;}
.s_social_login_container ul li{display: inline-block;text-align: center;list-style: none;margin:8px;}
.s_login_social{width: 35px;height:35px;background-repeat: no-repeat !important;background-position: center !important;background-size: cover !important;}
.s_login_facebook{background:url("../assets/imgs/s_facebook.png");}
.s_login_twitter{background:url("../assets/imgs/s_twitter.png");}
.s_login_google{background:url("../assets/imgs/s_google.png");}
.s_login_signup_div{text-align: center;padding-top:45px;}
.s_login_signup_div p{margin:0px;color: #fff;}
.s_login_signup_div p strong{margin-left: 10px;border:1px solid #fff;padding-left: 15px;padding-right: 15px;padding-top: 5px;padding-bottom: 5px;}

/*-------------------------------

02. SIGNUP-PAGE-STYLE

--------------------------------*/

.s_signup_container{width: 100%;}
.s_signup_banner{width:100%;height:150px;background:url("../assets/imgs/s_signup_banner.png");background-position: center;background-size: cover;}
.s_signup_pic_circle{width:120px;height:120px;position:relative;z-index: 1;border-radius: 50%;background-color: #fefefe !important;background:url("../assets/imgs/s_user.png");background-repeat:no-repeat !important;background-position: center;margin:0 auto;box-shadow: -1px 5px 20px -5px #888888;background-size:45px;position: relative;top:90px;}
.s_signup_pic_circle img{width:100%;height:100%;border-radius: 50%;object-fit:cover;object-position:center;}
.s_signup_form{width:100%;margin:0 auto;padding-top: 90px !important;}
.s_signup_row{width:100%;margin-bottom: 20px;}
.s_signup_input_container{width:100%;height:45px;background-color:#ededed;}
.s_signup_input{width:100%;height:100%;background: transparent;border:none;padding-left: 20px;font-size: 18px;font-weight: 300;}
.s_signup_input::-moz-placeholder { color: #8d8d8d;}
.s_signup_input:-ms-input-placeholder { color: #8d8d8d;}
.s_signup_input:-moz-placeholder { color: #8d8d8d;}
.s_signup_location{background:url("../assets/imgs/s_location.png");background-repeat: no-repeat;background-position: right 10px top 5px;background-size: 35px;}
.s_signup_radio_check{
.inline{display: inline-block;}
.inline + .inline{margin-left:10px;}
.radio{color:#999;font-size:15px;position:relative;}
.radio span{position:relative;padding-left:30px;font-size: 18px;font-weight: 300;}
.radio span:after{content:'';width:20px;height:20px;border:3px solid;position:absolute;left:0;top:1px;border-radius:100%;-ms-border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border:4px solid #ffc500;}
.radio input[type="radio"]{cursor: pointer; position:absolute;width:100%;height:100%;z-index: 1;opacity: 0;filter: alpha(opacity=0);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.radio input[type="radio"]:checked + span{}
.radio input[type="radio"]:checked + span:before{content:'';width:8px;height:8px;position:absolute;background:#774988;left:6px;top:7px;border-radius:100%;-ms-border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;}}

/*-------------------------------

03. OTP-PAGE-STYLE

--------------------------------*/

.s_otp_banner{width:100%;background:url("../assets/imgs/s_signup_banner.png");background-position: center;background-size: cover;padding-top:70px;}
.s_otp_banner h5{color: #fff;margin:0px;padding: 0px;text-align: center;font-size: 26px;font-weight: 400;padding-bottom: 5px;}
.s_otp_banner hr{width:25px;margin:0  auto;height:0px;border:2px solid #774988;position: relative;top: 4px;}
.s_otp_details{width: 100%;padding-top: 40px;}
.s_otp_details p{text-align: center;color: #939393;font-weight:300;margin:0px;font-size: 15px;}
.s_otp_details p strong{color:#686868;font-size: 20px;background:url("../assets/imgs/s_edit.png");background-repeat: no-repeat;background-position: right;background-size: 28px;padding-right: 30px;font-weight:500;}
.s_opt_close{}
.s_otp_input_div{width:100%;padding-top: 30px;padding-bottom: 30px;}
.s_otp_input_div ul{padding:0px;margin:0px;width:100%;text-align: center;}
.s_otp_input_div ul li{width:45px;height:45px;display: inline-block;margin:3px;list-style: none;background-color: #ededed;}
.s_otp_input{width:100%;height:100%;border:none;background: transparent;text-align: center;font-size: 20px;}
.s_otp_verify{background-color:#ffc500;color: #fff;height:45px;font-size:16px;padding-left: 20px;padding-right: 20px;width: 205px;}
.s_dismiss_otp{border-radius: 50%;margin:0 auto;}

/*-------------------------------

04. MAIN-TAB-COMPONENT-STYLE

--------------------------------*/

.s_home_tab_bar{width:100%;height:55px;box-shadow: 0px 10px 60px 5px #888888;}
.s_home_tab_bar ul{padding:0px;margin:0px;width:100%;height:100%;}
.s_home_tab_bar ul li{float: left;width:20%;height:100%;text-align: center;list-style: none;color: #9c9b9c;font-size: 10px;}
.s_home_tab_menu{width:50px;height:100%;margin:0 auto;background-position: center !important;background-size: 25px !important;background-repeat: no-repeat !important;}
.s_home_menu1{background:url("../assets/imgs/s_menu1.png");}
.s_home_menu2{background:url("../assets/imgs/s_menu2.png");}
.s_home_menu3{background:url("../assets/imgs/s_menu3.png");}
.s_home_menu4{background:url("../assets/imgs/s_menu4.png");}
.s_home_main_search{background:url("../assets/imgs/s_main_menu.png");background-size: 30px !important;}

/*-------------------------------

05. HOME-PAGE-STYLE

--------------------------------*/

.s_menu_bar{background:url("../assets/imgs/s_menu_bar.png");background-repeat: no-repeat !important;background-position: center !important;background-size: 30px !important;}
.s_notification{background:url("../assets/imgs/s_notification.png");background-repeat: no-repeat !important;background-position: center !important;background-size: 30px !important;}
.s_home_circle{width:100px;height:100px;border-radius: 50%;margin:0 auto;background:url("../assets/imgs/s_user_one.png");background-position: center;background-repeat: no-repeat;background-size: 30px;}
.s_home_circle img{width:100%;height:100%;border-radius: 50%;object-fit:cover;object-position:center;}
.s_home_banner h4{margin:0px;padding:0px;color: #dcd7de;padding-top: 20px;padding-bottom: 5px;font-weight: 300;font-size: 26px;}
.s_home_banner h3{margin:0px;color: #fcfcfd;font-weight: 400;letter-spacing: 1px;padding-bottom:25px;font-size: 18px;}
.s_home_banner hr{width:25px;margin:0  auto;height:0px;border:2px solid #774988;position: relative;top:0px;}
.s_home_banner_content{width:100%;height:calc(100% - 260px);overflow: scroll;background:url("../assets/imgs/s_home_bg.png");background-repeat: no-repeat !important;background-position: center !important;background-size: cover !important;}
.s_home_inner_content{width:75%;margin:0 auto;padding-top: 30px;padding-bottom: 30px;}
.s_home_inner_row{width:100%;margin-bottom: 10px;}
.s_home_inner_container{width:100%;height:40px;background-color:#ffffff;}
.s_home_inner_select{width:100%;height:100%;border:none;color: #a4a4a4;background:url("../assets/imgs/s_drop.png");background-repeat: no-repeat !important;-webkit-appearance: none;-moz-appearance: none;font-size: 16px;font-weight: 400;letter-spacing: 2px;padding-left: 20px;padding-left: 20px;background-position: right;background-size: 35px;}
.s_home_find_btn{width: 100%;height:40px;background-color: #ffc500;color: #3c134a;font-weight: 600;font-size: 16px;}
.s_home_find_btn img{width:25px;margin-left: 5px;}

/*-------------------------------

06. SIDEMENU-PAGE-STYLE

--------------------------------*/

.s_sidemenu_container{width:100%;padding-left:50px;}
.s_sidemenu_top{width:100%;padding-top:90px;}
.s_sidemenu_circle{width: 100px;height: 100px;border-radius: 50%;background: url(../assets/imgs/s_user_one.png);background-position: center;background-repeat: no-repeat;background-size: 30px;float: left;}
.s_sidemenu_circle img{width:100%;height:100%;object-fit:cover;object-position:center;}
.e_edit_pic{float:left;position: relative;top: 30px;left: 15px;}
.e_edit_pic img{width:30px;}
.s_sidemenu_top h5{margin:0px;color: #fff;padding-top: 20px;font-weight: 400;font-size: 20px;padding-bottom: 4px;}
.s_sidemenu_top p{margin:0px;padding: 0px;color: #fff;font-size: 14px;font-weight: 300;}
.s_sidemenu_top hr{border:2px solid #ffc500;height:0px;border-radius: 50px;width:30px;margin-left: 0;margin-top: 25px;}
.s_sidemenu_top ul{margin:0px;padding: 0px;padding-top: 30px;}
.s_sidemenu_top ul li{list-style: none;padding: 0px;color: #fff;margin-bottom:10px;padding-top:10px;padding-bottom: 10px;font-size: 15px;padding-left:40px;background-position: left;background-repeat: no-repeat;background-size: 30px;font-weight: 400;}
.s_menu1{background: url(../assets/imgs/s_visit_icon.png);}
.s_menu2{background: url(../assets/imgs/s_observed_icon.png);}
.s_menu3{background: url(../assets/imgs/s_edit_icon.png);}
.s_menu4{background: url(../assets/imgs/s_notification.png);}
.s_menu5{background: url(../assets/imgs/s_logout_icon.png);}
.s_menu6{background: url(../assets/imgs/s_menu5.png);}

/*-------------------------------

07. SEARCH-RESULT-PAGE-STYLE

--------------------------------*/

.nav_filter_bay{width:100%;}
.nav_filter_bay ul{width: 100%;padding: 0px;margin:0px;text-align: left;padding-left: 10px;}
.nav_filter_bay ul li{display: inline-block;color: #fff;margin-right: 15px;position:relative;font-size: 20px;font-weight: 300;padding: 10px;padding-right:0px;padding-left: 30px;background-size: 30px;background-position:-4px;background-repeat: no-repeat;}
.nav_sort1{background: url(../assets/imgs/s_sort.png);}
.nav_sort2{background: url(../assets/imgs/s_filter.png);}
.s_searchresult_div{width: 100%;}
.s_searchresult_div ul{padding:0px;margin:0px;padding: 5px;}
.s_searchresult_div ul li{list-style: none;background-color: #fff;padding: 15px;box-shadow: 0px 0px 10px -1px #888888;margin-bottom:5px;}
.s_search_pic{width:80px;height:80px;border:2px solid #774988;border-radius: 50%;}
.s_search_pic img{width:100%;height:100%;border-radius: 50%;object-fit:cover;object-position:center;}
.s_search_detail{width:calc(100% - 80px);padding-left: 15px;}
.s_search_detail h4{margin:0px;padding: 0px;color: #686868;font-size: 16px;font-weight: 400; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_search_detail p{margin:0px;padding: 0px;color: #808080;font-size: 14px;font-weight: 300; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_search_detail h6{margin:0px;padding: 0px;color: #808080;font-size: 13px;font-weight: 300;padding-top: 5px;padding-bottom: 5px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_search_detail h6 span{padding-left: 10px;padding-right: 10px;}
.s_search_detail h6 span img{width:6px;}
.s_search_detail h5{margin:0px;padding: 0px;color: #808080;font-size: 12px;font-weight: 400; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_search_detail_inner{width:calc(100% - 70px); padding-right: 20px;}
.s_search_enter{width:70px;border-left:1px solid #c0c0c0;height:60px;background: url(../assets/imgs/s_enter.png);background-size: 30px;background-repeat: no-repeat;background-position: center;position: relative;top: 10px;}
.s_search_loc{background: url(../assets/imgs/s_loc.png);padding-left: 0px !important;padding-right: 40px !important;background-position: right 9px top 9px !important;}

/*-------------------------------

08. FILTER-SORT-PAGE-STYLE

--------------------------------*/

.nav_filter_bay ul li hr{margin:0px;border:3px solid #3c134a;position: absolute;left:0px;right:0px;bottom:-7px;height:0px;}
.nav_filter_bay ul .active hr{border:3px solid #ffc500;}
.s_sort_n_filter_form{width: 100%;}
.s_sort_filter_row{margin-bottom:15px;}
.s_sort_filter_row .s_signup_input_container{background-color: #ededed;color: #949494;}
.s_sort_filter_row .s_signup_input_container .s_signup_input{color: #949494;font-weight:300 !important;letter-spacing: 1px;}
.s_sort_filter_row .s_signup_input_container .s_home_inner_select{font-weight:300 !important;color: #949494;letter-spacing: 1px;}
.s_sort_filter_row p{margin:0px !important;color: #636363;text-align: left;padding-bottom: 10px;}
.s_sort_apply_btn{width:100%;height:40px;font-weight: 500;text-transform: capitalize;font-size: 16px;}
.s_sort_apply_btn span img{width:25px;}
.s_search_grey{background: url(../assets/imgs/s_search_grey.png);background-position: right 10px top 5px;background-size:32px;background-repeat: no-repeat;}
#s_check_button {background-color:#f4f4f4;overflow:auto;color:#838383;border:1px solid #838383;position: relative;width:100%;outline: none;display: inline-block;height:40px;outline:none;border-radius: 0px;}
#s_check_button p{margin:0px;position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;padding:7px;text-align: center;}
#s_check_button label {width:100%;}
#s_check_button label span {text-align:center;display:block;}
#s_check_button label input {position:absolute;top:-20px;}
#s_check_button input:checked + p {background-color:#774988;color:#fff;margin:0px;border-radius: 0px;}
.s_sort_filter_row{width:100%;}
.s_sort_filter_row ion-list{width:100%;text-align:center;}
.s_sort_filter_row ion-list ion-item{width:32% !important;padding:0px !important;background-color:#f4f4f4;overflow:auto;color:#838383;border:1px solid #838383;position: relative;width:100%;outline: none;display: inline-block;height:40px;outline:none;border-radius: 0px;}
.s_sort_filter_row ion-list ion-item .item-inner{position:relative;}
.s_sort_filter_row ion-list ion-item .item-inner .input-wrapper{position:absolute;top:0px;left:0px;right:0px;bottom:0px;}
.s_sort_filter_row ion-list ion-item .item-inner .input-wrapper ion-label{padding:10px !important;margin:0px !important;position:absolute;top:0px;bottom: 0px;left:0px;right:0px;text-align: center;}
.s_sort_filter_row ion-list ion-item .item-inner .radio-icon{opacity:0 !important;}
.s_sort_filter_row ion-list .item-radio-checked ion-label {background-color:#774988 !important;color:#fff !important;margin:0px;border-radius: 0px;}

/*-------------------------------

09. RESULT-DETAIL-PAGE-STYLE

--------------------------------*/

.s_home_banner p{color:#fff;padding:0px;margin:0px;font-size: 13px;font-weight: 200;}
.s_home_banner p span{margin-left:5px;margin-right:5px;}
.s_home_banner p span img{width:8px;}
.s_booknow{width:180px;height:40px;z-index:9;margin:0 auto;border-radius: 0px;text-transform: capitalize;font-size: 17px;position: relative;top: 20px;}
.s_booknow span{}
.s_booknow span img{width:20px;margin-left: 5px;}
.s_search_result_detail{width:100%;padding: 10px;overflow: scroll;background: #f4f4f4;}
.s_search_result_tab_bay{width: 100%;padding-top:15px;padding-bottom:20px;text-align: center;color: #a5a5a5;font-size: 16px;font-weight: 300;}
.s_search_result_tab_bay .topbar{position:fixed !important;top:50px !important;left:0px !important;right:0px !important;z-index: 99;}
.s_search_result_tab_bay span{display: inline-block;}
.s_search_result_tab_bay span img{width:30px;position: relative;top: 9px;}
.s_search_result_head_panel{width:100%;}
.s_head_panel_circle{width:40px;height:40px;border-radius: 50%;float: left;}
.s_head_panel_circle img{}
.s_search_result_head_panel h5{margin:0px;padding:0px;float: left;padding: 12px;font-weight: 600;}
.s_search_panel_detail{width:100%;padding-bottom: 20px;padding-top: 10px;}
.s_search_map{width:100%;height:200px;}
.s_search_map #map{filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(99%); -webkit-backface-visibility: hidden;}
.s_search_panel_detail p{margin:0px;padding: 0px;color: #757575;font-size: 20px;font-weight: 400;padding-top: 10px;padding-bottom:20px;}
.s_search_appointment_list{width:100%;}
.s_search_appointment_list ul{padding: 0px;margin:0px;text-align: left;width:215px;}
.s_search_appointment_list ul li{display: inline-block;height: 100px;}
.s_search_appointment_list ul li p{margin:0px;padding: 0px;padding-bottom: 10px;color: #3d144b;font-size: 13px;}
.s_search_appointment_list ul li p strong{font-size: 20px;font-weight: 400;}
.s_search_appointment_inner ul li{width:65px !important;height:30px !important;margin: 1px;margin-bottom: 4px;display:inline-block;background-color: #ebebeb;color: #777777;}
#s_custom_check_button {background-color:#ebebeb;overflow:auto;color:#777777;position: relative;width:100%;height: 100%;outline: none;display: inline-block;outline:none;border-radius: 0px;}
#s_custom_check_button p{margin:0px;position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;color:#777777;text-align: center;padding:6px;}
#s_custom_check_button label {width:100%;}
#s_custom_check_button label span {text-align:center;display:block;}
#s_custom_check_button label input {position:absolute;top:-20px;}
#s_custom_check_button input:checked + p {background-color:#774988;color:#fff !important;margin:0px;border-radius: 0px;}
.s_search_panel_detail h6{margin:0px;padding: 0px;color: #989798;font-weight: 300;text-align: justify;font-size: 15px;padding-bottom: 15px;}
.s_more{font-size: 15px;padding-top:0px;padding-bottom:0px;border:1px solid #6b6b6b;color: #6b6b6b;padding-right:30px;padding-left: 15px;background-color: transparent;height: 30px;font-weight: 500;background: url(../assets/imgs/s_grey_arw.png);background-position: right;background-size:28px;background-repeat: no-repeat;}
.s_search_gallery_list{width:100%;}
.s_search_gallery_list ul{width:100%;padding:0px;margin:0px;}
.s_search_gallery_list ul li{display: inline-block;}
.s_search_gallery_list_inner{width:150px;height:100px;margin:1px;background-color: #a8a8a8;}
.s_search_gallery_list_inner img{width:100%;height:100%;object-fit:cover;object-position:center;}
.s_search_article{width: 100%;}
.s_search_article ul{padding:0px;margin:0px;padding-bottom: 10px;}
.s_search_article ul li{width:100%;list-style: none;background-color: #fff;margin-bottom: 10px;}
.s_article_pic{width:135px;height:125px;float: left;}
.s_article_pic img{width:100%;height:100%;object-fit:cover;object-position:center;}
.s_article_detail{float: left;width:calc(100% - 135px);padding: 15px;}
.s_article_detail h5{margin: 0px;padding: 0px;color: #6b6b6b;font-size: 13px;padding-bottom: 5px;}
.s_article_detail h3{margin: 0px;padding: 0px;color:#686868;font-size: 16px;font-weight: 400;}
.s_article_detail p{margin: 0px;padding: 0px;color: #808080;font-size: 14px;font-weight: 300;padding-bottom: 4px;}
.s_article_detail span{}
.s_article_detail span img{width: 30px;}
.s_video_gallery{width:100%;}
.s_video_gallery ul{padding:0px;margin:0px;}
.s_video_gallery ul li{list-style: none;list-style: none;display: inline-block;margin:2px;}
.s_video_gallery_inner{width:220px;height:150px;}
.s_video_gallery_inner youtube-player iframe{width: 100% !important;height:100% !important;}
.s_qa_detail_list{width:100%;}
.s_qa_detail_list ul{width: 100%;padding:0px;margin:0px;padding-bottom: 10px;}
.s_qa_detail_list ul li{width:100%;margin:0px;padding:0px;list-style: none;background-color: #ededed;margin-bottom: 5px;}
.s_qa_question_head{width:100%;border-left:2px solid #ffc500;font-size: 17px;font-weight: 500;padding: 10px;color: #6b6b6b;}
.s_qa_answer_div{width:100%;font-weight: 300;font-size: 15px;color: #989798;padding: 15px;}
.s_segment_tabs{width:100%;}
.s_segment_tabs .segment-button{height:40px !important;border:2px solid #ffc500 !important;color: #3c134a !important;font-size: 16px;font-weight: 600;}
.s_segment_tabs .segment-button.segment-activated{background: #ffc500 !important;border:2px solid #ffc500 !important;}

/*-------------------------------

10. ASK-QUES-PAGE-STYLE

--------------------------------*/

.s_ask_ques_pop{width:300px;margin:0 auto;background-color: #fff;box-shadow: 0px 0px 10px 1px #888888;position: relative;top: 25%;}
.s_ask_ques_head{font-size: 16px;color: #fff;font-weight: 500;padding:15px;position: relative;}
.s_ask_close{position: absolute;top:0px;bottom: 0px;right:0px;width:40px;background: url(../assets/imgs/s_close.png);background-repeat: no-repeat;background-position:center;background-size: 30px;}
.s_ask_textarea{width:100%;background: transparent;border:none;color: #cecece;font-size:16px;}
.s_ask_submit{height:40px;border:none;font-weight: 500;font-size: 16px;padding-left: 25px;padding-right: 25px;}
.s_signup_pic_circle_edit{background: url(../assets/imgs/s_edit_circle.png);position: absolute;width:35px;height:35px;right: -45px;top: 42px;border-radius: 50%;background-position: center;background-size: contain;}

/*-------------------------------

11. POP-OVER-PAGE-STYLE

--------------------------------*/

.s_popover_container{}
.s_popover_container ul{padding:0px;margin:0px;padding: 5px;}
.s_popover_container ul li{list-style: none;color: #929292;padding: 5px;font-size: 14px;font-weight: 400;} 

/*-------------------------------

12. NOTIFICATION-PAGE-STYLE

--------------------------------*/

.s_notification_container{width:100%;}
.s_notification_container ul{width:100%;padding: 0px;margin:0px;}
.s_notification_container ul li{width:100%;list-style:none;background: #eeeeee;padding: 15px;padding-right: 65px;position: relative;margin-bottom: 10px;}
.s_notification_container ul li h5{margin:0px;color: #6a6a6a;}
.s_notification_container ul li p{margin:0px;color: #818181;padding-top: 10px;padding-bottom: 10px;font-weight: 300;}
.s_notification_container ul li h6{color: #818181;margin:0px;padding:0px;font-size: 14px;}
.s_notifcation_close{width:40px;height:40px;position: absolute;right:10px;background: url(../assets/imgs/s_notification_close.png);top: 30%;background-position: center;background-size: contain;}
.s_note_day{padding-right:20px;padding-left:20px;padding-top: 3px;padding-bottom: 3px;}

/*-------------------------------

13. ARTICLE-CATEGORY-PAGE-STYLE

--------------------------------*/

.s_view_btn{background: transparent;border:1px solid #fff;color: #fff;padding:8px;padding-left: 10px;padding-right: 10px;position: relative;top: 8px;right: 10px;}
.s_article_category_list{width: 100%;}
.s_article_category_list ul{padding:0px;margin:0px;width:100%;}
.s_article_category_list ul li{width:100%;list-style: none;padding-bottom:20px;}
.s_article_category_head{}
.s_article_category_content{}
.s_article_circle_add{width:35px;height:35px;float: left;border-radius: 50%;font-size:27px;text-align: center;}
.s_article_circle_name{color: #636363;float: left;padding: 9px;font-size: 16px;padding-left:15px;}
.s_article_category_content{padding-top: 10px;padding-left: 50px;border-bottom: 1px solid #d5d5d5;}
.s_article_circle_add1{color:#686868;border:1px solid #686868;width:35px;height:35px;float: left;border-radius: 50%;font-size:27px;text-align: center;}
.s_article_circle_name1{color: #686868;float: left;padding: 9px;font-size: 16px;padding-left:15px;padding-left: 15px;font-weight: 300;}
.s_article_category_head1{padding-bottom: 10px;}

/*-------------------------------

14. ARTICLE-DETAIL-PAGE-STYLE

--------------------------------*/

.s_article_detail_banner{width:100%;}
.s_article_detail_pic{width: 80px;height: 80px;border: 2px solid #774988;border-radius: 50%;}
.s_article_detail_pic img{width:100%;height:100%;border-radius: 50%;object-position:center;object-fit:cover;}
.s_article_details {width: calc(100% - 80px);padding-left: 15px;}
.s_article_detail_inner {width: calc(100% - 100px);padding-right: 20px;padding-top: 17px !important;}
.s_article_enter{width: 100px;border-left: 1px solid #c0c0c0;height: 60px;position: relative;top: 10px;text-align: center;}
.s_article_details h4 {margin: 0px;padding: 0px;color: #686868;font-size: 16px;font-weight: 400;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_article_details h6 {margin: 0px;padding: 0px;color: #808080;font-size: 13px;font-weight: 300;padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_article_details h6 span {padding-left: 10px;padding-right: 10px;}
.s_article_details h6 span img {width: 6px;}
.s_article_enter p{margin:0px;color: #757575;padding-top: 15px;}
.s_article_img{width:100%;height:200px;margin-top:20px;}
.s_article_img img{width:100%;height:100%;object-fit:cover;object-position:center;}
.s_article_more{padding-top:15px;}
.s_article_more h5{color: #636363;margin:0px;padding-bottom: 15px;}
.s_article_more p{color: #999090;text-align: justify;padding: 0px;margin:0px;font-weight: 300;}

/*-------------------------------

15. FORGOT-PAGE-STYLE

--------------------------------*/

.s_forgot_container{width:100%;}
.s_forgot_head{width:100%;text-align: center;padding-top: 30px;}
.s_forgot_head img{width: 55px;}
.s_forgot_head h5{color: #414141;}
.s_forgot_head p{color: #7a7a7a;font-size: 14px;font-weight: 300;padding-top: 10px;}
.s_mobile_number{width: 90%; margin: 0 auto;}
.s_mobile_input{width:100%;height:40px;border:none;border-bottom:1px solid #616161;background: transparent;font-size: 18px;color: #616161;}
.s_mobile_drop{background: url(../assets/imgs/s_forgot_drop.png);background-repeat: no-repeat;background-position: right;-webkit-appearance: none;background-size: 40px;}
.s_mobile_input::-webkit-input-placeholder {color: #616161;}
.s_mobile_input::-moz-placeholder {color: #616161;}
.s_mobile_input:-ms-input-placeholder { color: #616161;}
.s_mobile_input:-moz-placeholder { color: #616161;}

/*-------------------------------

16. CLINIC-DETAIL-PAGE-STYLE

--------------------------------*/

.s_medical_div{width:100%;margin-bottom: 20px;}
.s_medical_container{width:100%;height:40px;background:#ededed;}
.s_medical_input{padding: 11px;font-size: 18px;padding-left:15px;width:100%;height:100%;font-weight:600;color:#646464;border:none;background: url(../assets/imgs/s_drop.png);background-repeat: no-repeat;background-position: right;-webkit-appearance: none;background-size: 40px;}
.s_medical_list{width:100%;background-color: #ededed;}
.s_medical_list ul{margin:0px;padding:0px;}
.s_medical_list ul li{width:100%;margin:0px;list-style: none;color: #838383;font-size: 18px;}

/*-------------------------------

17. BOOKING-PAGE-STYLE

--------------------------------*/

.s_booking_container{width:100%;}
.s_booking_container h4{color: #838282;font-size: 24px;padding-bottom:20px;}
.s_booking_container h5{font-size: 24px;font-weight:600;}
.s_booking_container hr{border:2px solid #ffc500;height:0px;width:30px;margin-left:0px;}
.s_booking_container p{margin:0px;color: #656565;font-weight: 300;font-size: 16px;}
.s_booking_container p strong{margin:0px;color: #656565;}

/*-------------------------------

18. SUCCESS-PAGE-STYLE

--------------------------------*/

.s_success_container{width:100%;}
.s_success_container_inner{text-align: center;margin: 25% auto;}
.s_success_container img{width:45px;}
.s_success_container h5{margin:0px;color: #535353;padding-bottom: 5px;padding-top: 20px;font-size: 20px;}
.s_success_container h4{margin:0px;color: #535353;font-size: 26px;font-weight: 500;padding-bottom: 10px;}
.s_success_container hr{border:2px solid #ffc500;height:0px;width:50px;margin:0 auto;}
.s_download_footer{width:100%;text-align: center;}
.s_download_footer img{width: 40px;}
.s_download_footer p{color: #939393;text-align: center;font-weight: 400;font-size: 16px;}

/*-------------------------------

19. APPOINTMENT-PAGE-STYLE

--------------------------------*/

.nav_app1{background: url(../assets/imgs/s_past.png);}
.nav_app2{background: url(../assets/imgs/s_active.png);}
.s_circle_right{width:70px;border-left:1px solid #c0c0c0;height:60px;background: url(../assets/imgs/s_circle_right.png);background-size: 30px;background-repeat: no-repeat;background-position: center;position: relative;top: 10px;}
.s_call{width:70px;border-left:1px solid #c0c0c0;height:60px;background: url(../assets/imgs/s_call.png);background-size: 30px;background-repeat: no-repeat;background-position: center;position: relative;top: 10px;}
.s_appointment_details{width:100%;padding: 15px;}
.s_appointment_details h5{margin: 0px;font-weight: 600;padding-bottom:20px;}
.s_appointment_inner{background: #ededed;}
.s_appointment_inner ul{margin:0px;padding:15px;}
.s_appointment_inner ul li{width:100%;list-style: none;color: #535353;font-size:16px;font-weight:300;padding-bottom: 15px;}
.s_appointment_inner ul li strong{font-weight: 500;}

/*-------------------------------

20. CONTACT-HISTORY-PAGE-STYLE

--------------------------------*/

.nav_chat{background: url(../assets/imgs/s_chat.png);}
.nav_call1{background: url(../assets/imgs/s_call1.png);}
.s_chat_list{width:100%;}
.s_chat_list ul{width:100%;margin:0px;padding: 0px;}
.s_chat_list ul li{width:100%;list-style: none;}

.s_chat_list{width:100%;}
.s_chat_list ul{width:100%;margin:0px;padding: 0px;}
.s_chat_list ul li{width:100%;list-style: none;text-align: left;background-position:1px !important;background-repeat: no-repeat !important;background-size: 35px !important;border-bottom: 1px solid #bebebe;padding-top:15px;padding-bottom:15px;}
.s_chat_date{float: right;position: relative;top: 10px;}
.s_chat_date p{color: #6f6f6f;margin:0px;padding: 0px;font-size: 14px;padding-bottom: 5px;}
.s_chat_list ul li .s_video_detail{float: left;padding:8px;padding-left: 15px;width: calc(100% - 135px);}
.s_incoming{background: url(../assets/imgs/s_incoming.png);}
.s_outgoing{background: url(../assets/imgs/s_outgoing.png);}
.s_missed{background: url(../assets/imgs/s_missed.png);}

.s_videocall_list{width:100%;}
.s_videocall_list ul{width:100%;margin:0px;padding: 0px;}
.s_videocall_list ul li{width:100%;list-style: none;text-align: left;padding-left:45px;background-position:1px !important;background-repeat: no-repeat !important;background-size: 35px !important;border-bottom: 1px solid #bebebe;padding-top:15px;padding-bottom:15px;}
.s_video_pic{width:50px;height:50px;border-radius: 50%;float: left;background: #a8a8a8;}
.s_video_pic img{width:100%;height:100%;border-radius: 50%;object-fit:cover;object-position:center;}
.s_video_detail{float: left;padding:8px;padding-left: 15px;width: calc(100% - 85px);}
.s_video_detail h5{margin:0px;padding: 0px;color: #494949;font-size: 18px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_video_detail p{margin:0px;padding:0px;color: #8b8b8b;font-size: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s_video_detail p span{color: #6f6f6f;}
.s_video_call{float: right;width:35px;height:35px;background: url(../assets/imgs/s_call_video.png);background-repeat: no-repeat;background-position: center;background-size: contain;position: relative;top: 10px;}
.s_chat_noti{width:20px;height:20px;border-radius: 50%;text-align: center;font-size: 12px;padding: 1px;}

/*-------------------------------

21. CHAT-PAGE-STYLE

--------------------------------*/

.s_chat_wrapper{width: 100%;}
.s_chat_wrapper ul{margin:0px;padding: 0px;}
.s_chat_wrapper ul li{list-style: none;margin-bottom: 25px;}
.s_top_div{width: 100%;}
.s_top_pic{width:40px;height:40px;border-radius: 50%;background: #a8a8a8;}
.s_top_pic img{width:100%;height:100%;border-radius: 50%;object-fit:cover;object-position:center;}
.s_top_detail{padding: 5px;padding-left: 10px;padding-right: 10px;}
.s_top_detail h5{margin:0px;color: #494949;font-weight: 400;}
.s_top_detail p{margin:0px;color: #6f6f6f;}
.s_top_message{padding: 5px;padding-left: 15px;padding-right: 15px;position: relative;margin-top: 15px;}
.s_arrow_up{position:absolute;bottom: 26px;}
.s_sender{float: left;}
.s_sender .s_top_pic{float: left;}
.s_sender .s_top_detail{float: left;}
.s_sender .s_arrow_up{width: 0; height: 0;left:10px;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #4d4d4d;}
.s_sender .s_top_message{background: #4d4d4d;color: #fff;text-align: left;}
.s_sender .s_top_detail p{text-align: left;}

.s_receive{float:right;}
.s_receive .s_top_pic{float: right;}
.s_receive .s_top_detail{float:right;}
.s_receive .s_arrow_up{width: 0; height: 0;right:10px;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #d7d7d7;}
.s_receive .s_top_message{background: #d7d7d7;color: #545353;text-align: right;}
.s_receive .s_top_detail p{text-align: right;}

.s_message_type{width: 100%;background: #e8e8e8;height:50px;}
.s_attach{width:50px;height:100%;background: url(../assets/imgs/s_attach.png);background-repeat: no-repeat;background-position: center;background-size: 22px;}
.s_message_input{width:calc(100% - 125px);height:100%;background: transparent;border:none;padding:15px;}
.s_enter{width:75px;height:100%;background-color: #ffc500 !important;background: url(../assets/imgs/s_send.png);background-repeat: no-repeat;background-position: center;background-size: contain;}

/*-------------------------------

22. VIDEO-CALL-PAGE-STYLE

--------------------------------*/

.s_video_call_screen{width: 100%;height:100%;position: relative;}
.s_video_call_screen img{width:100%;height:100%;object-fit:cover;object-position:center;}
.s_video_call_caller_img{width:100px;height:120px;background:#a8a8a8;top:10px;right:10px;position: absolute;}
.s_video_call_caller_img img{width:100%;height:100%;object-fit:cover;object-position:center;}
.s_video_call_bottom_bay{width:100%;bottom: 0px;text-align: center;position: absolute;left:0px;right:0px;text-align: center;}
.s_end_call_btn{width:80px;height:80px;background: url(../assets/imgs/s_end_call.png);background-repeat: no-repeat;background-position: center;background-size: contain;}
.s_call_timer{color: #bfbfbf !important;letter-spacing: 3px;font-size: 18px;font-weight: 500;}

/*-------------------------------

23. AUDIO-CALL-PAGE-STYLE

--------------------------------*/

.s_audio_call_screen{width: 100%;height:100%;position: relative;}
.s_audio_inner{width:100%;text-align:center;position: relative;top: 10%;}
.s_audio_circle{width:130px;height:130px;margin:0 auto;border-radius: 50%;background: #a8a8a8;}
.s_audio_circle img{width:100%;height:100%;object-fit:cover;object-position:center;border-radius: 50%;}
.s_audio_inner h4{text-align: center;color: #d5d7e3;font-weight: 400;}
.s_audio_inner p{text-align: center;color: #fff !important;padding-top: 8px;font-weight: 300;letter-spacing: 1px;margin:0px;}

/*-------------------------------

24. PRESCRIPTION-PAGE-STYLE

--------------------------------*/

.s_prescription_container{width: 100%;padding:10px;}
.s_prescription_head{width: 100%;font-size: 14px;letter-spacing: 1px;color: #878686;}
.s_prescription_head strong{color: #636363;}
.s_prescription_head span{margin-left:10px;position: relative;bottom: 10px;}
.s_prescription_head span img{width:25px;position: relative;top: 5px;}
.s_prescription_sub_head{width:100%;background: #694177;}
.s_prescription_sub_head ion-col{border:1px solid #fff;padding-left: 10px;font-size: 12px;padding-top: 8px;padding-bottom: 8px;}
.s_prescription_container ul{margin:0px;padding:0px;}
.s_prescription_container ul li{width:100%;list-style: none;padding: 0px;font-size: 12px;background:transparent;box-shadow: none;}
.s_prescription_container ul li {}
.s_prescription_container ul li:nth-child(odd){background: #efefef;color: #808080;}
.s_prescription_container ul li:nth-child(even){background: #959595;color: #fff;}

/*-------------------------------

25. WALLET-PAGE-STYLE

--------------------------------*/

.s_wallet_container{width:100%;}
.s_wallet_container p{color: #757474;font-size: 18px;margin:0px;padding:0px;padding-bottom: 10px;}
.s_wallet_container ul{margin:0px;padding: 0px;}
.s_payment_tab{width:100%;}
.s_payment_tab ul{margin:0px;padding: 0px;text-align: left;}
.s_payment_tab ul li{list-style: none;display: inline-block;text-transform: capitalize;color: #757474;padding:0px;padding-left: 0px;font-size: 12px;}
.s_payment_tab ul li span{}
.s_payment_tab ul li span img{width:30px;position: relative;top: 10px;margin-right:5px;}
.s_payment_tab ul .segment-button{height: auto !important;line-height: auto !important;border:none !important;padding: 0px !important;}
.s_payment_detail{width:100%;background: #ededed;}
.s_payment_inner{padding: 15px;}
.s_payment_input{width:100%;height:40px;border:1px solid #979797;background: #fff;padding-left: 10px;}
.s_payment_inner_row{width:100%;margin-top:10px;}
.s_payment_inner_container{width:50px;height:40px;text-align: center;margin-right: 10px;}
.s_payment_inner_container1{width:100px;height:40px;text-align: center;}

/*-------------------------------

26. SETTINGS-PAGE-STYLE

--------------------------------*/

.s_settings_wrapper{width:100%;}
.s_settings_wrapper h5{margin:0px;font-weight: 600;padding-bottom: 10px;}
.s_settings_wrapper ul{margin: 0px;padding:0px;}
.s_settings_wrapper ul li{width:100%;list-style:none;padding-bottom: 8px;}
.s_settings_wrapper ul li h5{color: #757575;font-weight: 500;padding: 0px;padding-top: 15px;}
.s_settings_wrapper ul li p{margin:0px;color: #757575;font-weight: 300;}
.s_settings_wrapper ul li span{}
.s_settings_wrapper ul li span img{width:50px;}
.s_setting_arw{font-weight: 400 !important;background: url(../assets/imgs/s_go.png);background-repeat: no-repeat;background-position: right;background-size: 30px}

/*-------------------------------

27. FAB-BTN-STYLE

--------------------------------*/

.s_fab_btn{position: relative;bottom: 60px !important;}
.s_fab_icon_list{bottom: 60px !important;}
.s_fab_icon_list li{list-style: none;color: #757575;text-align: right;}
.s_fab_icon_list li span{float: right;}
.s_fab_icon_list li span img{width:40px;}