.ar .s_login_label{float: right !important;}
.ar .s_login_input .text-input{float: right !important;text-align: right !important;padding-right: 15px;}
.ar .s_home_inner_select{padding-right: 20px;text-align: right;background-position: left;}
.ar .s_signup_input .text-input{float: right !important;text-align: right !important;padding-right: 15px;}
.ar .s_signup_location{background-position: left !important;}
.ar .floatLeft{float: right !important;}
.ar .floatRight{float: left !important;}
.ar .s_sidemenu_container{padding-right:50px;padding-left:0px;}
.ar .s_sidemenu_top ul li {padding-right: 40px;background-position:right;padding-left: 10px;}
.ar .s_sidemenu_circle {float: right !important;}
.ar .e_edit_pic{float: right !important;left: -15px !important;}
.ar .s_sidemenu_top hr{margin-right:0px !important;}
.ar .s_signup_radio_check .inline{display: block !important;width: 100px;float: right;}