

/*
  Site Name: SafetyApp
  URI: http:
  Description: This is the theme css for 
  Version: 1.0
  Author: Amal-Techware Solution
  Author URI:
  Tags:

	---------------------------
	THEME STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------
	 01. FONTS-N-SIZES
	 02. FONTS-COLOR
	 03. THEMES-N-BACKGROUNDS
	 04. SPACING-N-POSITIONS
	 05. ALIGMENTS
	 06. ALERTS-N-MESSAGES
	 07. BODY-STRUCTURE
	 08. OVERWRITTEN


*/

/*-------------------------------

01. FONTS-N-SIZES

--------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@font-face {font-family: Sifonn_Basic;src: url("../assets/fonts/SIFONN_BASIC.otf");}
.head_font{font-family: Sifonn_Basic;}
*{font-family: 'Roboto', sans-serif;}
*::-webkit-scrollbar {display: none;}
.no-scroll .scroll-content{overflow: hidden;}
.font_size_xs{font-size:12px !important;}
.font_size_sm{font-size:14px !important;}
.font_size_md{font-size:16px !important;}
.font_size_lg{font-size:18px !important;}
.font_size_xl{font-size:20px !important;}
.font_size_vl{font-size:35px !important;}

a{text-decoration: none !important;}

/*-------------------------------

02. FONTS-COLOR

--------------------------------*/

.text_color_white{color:#fff !important;}
.text_color_red{color:#fa2c04 !important;}
.text_color_one{color: #3c134a !important;}
.text_color_two{color: #5a2e69 !important;}
.text_color_three{color: #774988 !important;}
.text_color_four{color: #ffc500 !important;}

/*-------------------------------

03. THEMES-N-BACKGROUNDS

--------------------------------*/

.theme_login{background:url("../assets/imgs/s_login_bg.png");background-position:center;background-size:cover;}
.theme_plain{background:url("../assets/imgs/s_plain_theme.png");background-position:center;background-size:cover;}
.theme_print{background:url("../assets/imgs/s_signup_banner.png");background-position:center;background-size:cover;}
.theme_background_one{background-color: #3c134a !important;border: 1px solid #3c134a;}
.theme_background_two{background-color: #5a2e69 !important;border: 1px solid #5a2e69;}
.theme_background_three{background-color: #774988 !important;border: 1px solid #774988;}
.theme_background_four{background-color: #ffc500 !important;border: 1px solid #ffc500;}
.theme_background_five{background-color: #e1e1e1 !important;border: 1px solid #e1e1e1;}
.theme_transparent{background:transparent !important;}
.theme_white{background-color: #fff !important;}
.theme_off_white{background-color: #f4f4f4 !important;}
.theme_dark_transparent{background-color: rgba(0,0,0,0.6) !important;}
.theme_white_transparent{background-color: rgba(243,243,243,0.6) !important;}


/*-------------------------------

04. SPACING-N-POSITIONS

--------------------------------*/

.width25{width:25% !important;}
.width50{width:50% !important;}
.width75{width:75% !important;}
.widthFull{width:100% !important;}
.widthAuto{width: auto !important;}
.height25{height:25% !important;}
.height50{height:50% !important;}
.height75{width:75% !important;}
.heightFull{height:100% !important;}

.p0{padding:0px !important;}
.pl0{padding-left: 0px !important;}
.pr0{padding-right:0px !important;}
.pt0{padding-top:0px !important;}
.pb0{padding-bottom: 0px !important;}
.p10{padding:10px !important;}

.m0{margin:0px !important;}
.ml0{margin-left: 0px !important;}
.mr0{margin-right: 0px !important;}
.mt0{margin-top: 0px !important;}
.mb0{margin-bottom: 0px !important;}

.clear{clear:both !important;}

.top10{top:10px;}
.bottom10{bottom:10px;}
.left10{left:10px;}
.right10{right:10px;}
.bottom10{bottom:10px;}

.top0{top:0px;}
.bottom0{bottom:0px;}
.left0{left:0px;}
.right0{right:0px;}

.absolute{position: absolute !important;}
.relative{position: relative !important;}
.fixed{position: fixed !important;}

/*-------------------------------

05. ALIGMENTS

--------------------------------*/

.floatLeft{float:left !important;}
.floatRight{float:right !important;}
.textLeft{text-align: left !important;}
.textRight{text-align: right !important;}
.textCenter{text-align: center !important;}

/*-------------------------------

06. ALERTS-N-MESSAGES

--------------------------------*/

.alert{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;font-weight: 600;transition: all 0.5s ease;position: fixed;border-bottom:0px;left:0px;right: 0px;}
.warning{color: #fff;background-color: #8a6d3b;}
.success{color: #fff;background-color: #3c763d;}
.error{color: #fff;background-color: #a94442;}

/*-------------------------------

07. BODY-STRUCTURE

--------------------------------*/

.nav_header{width:100%;height:50px;z-index: 999;}
.nav_btn{width:50px !important;height:50px !important;background: transparent;margin: 0px;font-size: 25px;color: #fff;padding: 0px !important;}
.nav_header_title{height:100%;font-weight: 400;font-size:20px;color: #fff;padding:13px;font-weight:400;text-transform: capitalize;width:calc(100% - 100px);letter-spacing:1px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 8px;padding-right: 8px;}
.clear{clear:both !important;}
.border{border:1px solid;}
.borderNone{border:none !important;}
.nav_grey_back{background:url("../assets/imgs/s_grey_back.png");background-position: center;background-size: 35px;background-repeat: no-repeat;}
.nav_back{background:url("../assets/imgs/s_arw_back.png");background-position: center;background-size: 35px;background-repeat: no-repeat;}
.nav_not{background:url("../assets/imgs/s_notification.png");background-position: center;background-size: 32px;background-repeat: no-repeat;}
.nav_more{background:url("../assets/imgs/s_more.png");background-position: center;background-size: 32px;background-repeat: no-repeat;}
.nav_share{background:url("../assets/imgs/s_share1.png");background-position: center;background-size: 32px;background-repeat: no-repeat;}
.nav_like{background:url("../assets/imgs/s_like1.png");background-position: center;background-size: 32px;background-repeat: no-repeat;}
.nav_bookmark{background:url("../assets/imgs/s_bookmark.png");background-position: center;background-size: 32px;background-repeat: no-repeat;}

/*-------------------------------

08. OVERWRITTEN

--------------------------------*/

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {background-image:none !important}
.picker-wrapper{background:#064bb1 !important;color: #fff !important;}
.picker-toolbar{background:#064bb1 !important;color: #fff !important;border:none !important;}
.picker-button{color: #fff !important;}
.picker-opt{color: #fff !important;}
.picker-below-highlight{background:#064bb1 !important;border:none !important;}
.picker-above-highlight{background:#064bb1 !important;border:none !important;}
.swiper-slide{overflow: scroll !important;}
.slide-zoom{height:100% !important;}
.menu-inner{width:220px;}
.button-md{box-shadow: none !important;}
.activated{background: transparent !important;}
.button-default{background: transparent;}
.item-md.item-block .item-inner{padding:0px !important;}
.menu-inner {width: 245px;}
.popover-content{left: auto !important;top: 10px !important;right:40px !important;border-radius: 0px !important;width:165px !important;}
