<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Settings</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<div class="s_settings_wrapper">
		<h5 class="text_color_one">Contact</h5>
		<ul>
			<li>
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col col-10 class="p0">
				      <h5>Emergency Call</h5>
				      <p>Long press or double Tap Phon icon</p>
				    </ion-col>
				    <ion-col col-2 class="p0 textRight">
				      <span><img src="assets/imgs/s_emergency.png"></span>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</li>
			<li>
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col col-10 class="p0">
				      <h5>Centralized Booking</h5>
				      <p>Hotline for assistance in bokking</p>
				    </ion-col>
				    <ion-col col-2 class="p0 textRight">
				      <span><img src="assets/imgs/s_booking.png"></span>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</li>
			<li>
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col col-10 class="p0">
				      <h5>Customer Service</h5>
				      <p>Call Customer Service</p>
				    </ion-col>
				    <ion-col col-2 class="p0 textRight">
				      <span><img src="assets/imgs/s_support.png"></span>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</li>
		</ul>
		<hr>
		<br>
		<h5 class="text_color_one">Language</h5>
		<ul>
			<li>
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col class="p0">
				      <select class="s_home_inner_select p0">
				      	<option>English</option>
				      </select>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</li>
		</ul>
		<br>
		<br>
		<h5 class="text_color_one">General</h5>
		<ul>
			<li>
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col class="p0">
				      <h5 class="s_setting_arw">About Safety</h5>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</li>
			<li>
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col class="p0">
				      <h5 class="s_setting_arw">Rate Safety</h5>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</li>
		</ul>
	</div>
</ion-content>
