<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Notifications</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<div class="s_notification_container">
		<ul>
			<div padding class="width100 textCenter">
				<span class="theme_background_four s_note_day">Today</span>
			</div>
			<li>
				<h5>Booking Success</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<h6>05:00 pm</h6>
				<div class="s_notifcation_close"></div>
			</li>
			<li>
				<h5>Booking Success</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<h6>05:00 pm</h6>
				<div class="s_notifcation_close"></div>
			</li>
			<div padding class="width100 textCenter">
				<span class="theme_background_five s_note_day">22/05/2017</span>
			</div>
			<li>
				<h5>Booking Success</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<h6>05:00 pm</h6>
				<div class="s_notifcation_close"></div>
			</li>
			<li>
				<h5>Booking Success</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<h6>05:00 pm</h6>
				<div class="s_notifcation_close"></div>
			</li>
		</ul>
	</div>
</ion-content>
