<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Prescription</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->


<ion-content class="theme_off_white">
	<div class="s_searchresult_div">
		<ul class="m0">
			<li class="theme_transparent m0 pb0" style="box-shadow: none !important;">
				<div class="s_search_pic floatLeft">
				</div>
				<div class="s_search_detail floatRight">
					<div class="s_search_detail_inner floatLeft" style="padding-top: 20px;">
						<h4 class="textLeft">Dr. Elezebeth</h4>
						<p>Prescription</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>
		</ul>
		<div class="s_prescription_container">
			<div class="s_prescription_head">
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col class="textLeft">
				      <strong>Medicine</strong>
				    </ion-col>
				    <ion-col class="textRight">
				    	<span>Download PDF</span><span><img src="assets/imgs/s_download_1.png"></span>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</div>
			<div class="s_prescription_sub_head text_color_white">
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col col-3>
				    	Name
				    </ion-col>
				    <ion-col col-3>
				    	Instruction
				    </ion-col>
				    <ion-col col-6>
				    	Frequency
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</div>
			<ul>
				<li>
					<ion-grid class="p0">
					  <ion-row class="p0">
					    <ion-col col-3>
					    	Medicine 1
					    </ion-col>
					    <ion-col col-3>
					    	Take 1 Each
					    </ion-col>
					    <ion-col col-6>
					    	<ion-grid class="p0">
					 			<ion-row class="p0">
					 				<ion-col col-4>
					 					Mng<br>
					 					<strong>1</strong>
					 				</ion-col>
					 				<ion-col col-4>
					 					Noon<br>
					 					<strong>1</strong>
					 				</ion-col>
					 				<ion-col col-4>
					 					Night<br>
					 					<strong>1</strong>
					 				</ion-col>
					 			</ion-row>
					 		</ion-grid>
					    </ion-col>
					  </ion-row>
					</ion-grid>	
				</li>
				<li>
					<ion-grid class="p0">
					  <ion-row class="p0">
					    <ion-col col-3>
					    	Medicine 1
					    </ion-col>
					    <ion-col col-3>
					    	Take 1 Each
					    </ion-col>
					    <ion-col col-6>
					    	<ion-grid class="p0">
					 			<ion-row class="p0">
					 				<ion-col col-4>
					 					Mng<br>
					 					<strong>1</strong>
					 				</ion-col>
					 				<ion-col col-4>
					 					Noon<br>
					 					<strong>1</strong>
					 				</ion-col>
					 				<ion-col col-4>
					 					Night<br>
					 					<strong>1</strong>
					 				</ion-col>
					 			</ion-row>
					 		</ion-grid>
					    </ion-col>
					  </ion-row>
					</ion-grid>	
				</li>
				<li>
					<ion-grid class="p0">
					  <ion-row class="p0">
					    <ion-col col-3>
					    	Medicine 1
					    </ion-col>
					    <ion-col col-3>
					    	Take 1 Each
					    </ion-col>
					    <ion-col col-6>
					    	<ion-grid class="p0">
					 			<ion-row class="p0">
					 				<ion-col col-4>
					 					Mng<br>
					 					<strong>1</strong>
					 				</ion-col>
					 				<ion-col col-4>
					 					Noon<br>
					 					<strong>1</strong>
					 				</ion-col>
					 				<ion-col col-4>
					 					Night<br>
					 					<strong>1</strong>
					 				</ion-col>
					 			</ion-row>
					 		</ion-grid>
					    </ion-col>
					  </ion-row>
					</ion-grid>	
				</li>
			</ul>
		</div>
	</div>
</ion-content>
