<ion-content padding class="theme_login">

<!-- LOGIN-CONTAINER-STARTS -->

	<div class="s_login_container">

<!-- LOGO-CONTAINER-STARTS -->

		<div class="s_login_logo_container">
			 <img src="assets/imgs/s_logo.png">
		</div>

<!-- ENDS-LOGO-CONTAINER -->

<!-- LOGIN-FORM-STARTS -->
	
	<div class="s_login_form">
		<div class="s_login_row">
			<div class="s_login_input_container">
				<div class="s_login_label s_login_user">
				</div>
				<ion-input class="s_login_input" placeholder="Username"></ion-input>
				<div class="clear"></div>
			</div>
		</div>
		<div class="s_login_row">
			<div class="s_login_input_container">
				<div class="s_login_label s_login_pass">
				</div>
				<ion-input class="s_login_input" placeholder="Password"></ion-input>
				<div class="clear"></div>
			</div>
		</div>
		<div class="s_login_row">
			<div class="s_login_input_container">
				<button ion-button class="s_login_btn theme_background_one" (click)="open_page('HomePage')">LOGIN<span><img src="assets/imgs/s_arw.png"></span></button>
			</div>
		</div>
	</div>

<!-- ENDS-LOGIN-FORM -->

<!-- SOCIAL-LOGIN-STARTS -->

	<div class="s_social_login_container">
		<!-- <p>Login Using</p> -->
		<p (click)="forgot()">Forgot Password</p>
		<ul>
			<li class="s_login_social s_login_facebook"></li>
			<li class="s_login_social s_login_twitter"></li>
			<li class="s_login_social s_login_google"></li>
		</ul>
	</div>

<!--ENDS-SOCIAL-LOGIN -->

<!-- SIGNUP-DIV -->

	<div class="s_login_signup_div">
		<p><span>New User?</span> <strong (click)="open_page('SignupPage')">SIGNUP HERE</strong></p>
		<div class="clear"></div>
	</div>

<!-- ENDS-SIGNUP-DIV -->

	</div>

<!-- ENDS-LOGIN-CONTAINER-ENDS -->

</ion-content>
