<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-content class="theme_background_one">
    <div class="s_sidemenu_container">
      <div class="s_sidemenu_top">
        <div class="s_sidemenu_circle theme_background_three">
        </div>
        <span class="e_edit_pic"><img src="assets/imgs/s_edit_icon.png"></span>
        <div class="clear"></div>
        <h5>Jessica Nolan</h5>
        <p>jessi@hotmail.com</p>
        <hr>
        <ul>
          <li menuClose class="s_menu1" (click)="wallet()">My Wallet</li>
          <li menuClose class="s_menu2">Observed Doctors</li>
          <li menuClose class="s_menu3" (click)="edit()">Edit Profile</li>
          <li menuClose class="s_menu4" (click)="notification()">Notifications</li>
          <li menuClose class="s_menu6" (click)="settings()">Settings</li>
          <li menuClose class="s_menu5" (click)="signin()">Logout</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>