 
<ion-content padding class="theme_background_one">
	<div class="s_audio_call_screen">
		<div class="s_audio_inner">
			<div class="s_audio_circle">
				<img src="assets/imgs/s_caller_img1.png">
			</div>
			<h4>Laura Peterson</h4>
			<p>Calling</p>
			<p class="s_call_timer">05:45</p>
		</div>
		<div class="s_video_call_bottom_bay">
			<button ion-button class="s_end_call_btn" (click)="dismiss()">
			</button>
		</div>
	</div>

</ion-content>
