<!-- HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
  	<div class="nav_header_title textLeft floatLeft">Success</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_plain">
	<div class="s_success_container">
		<div class="s_success_container_inner">
			<img src="assets/imgs/s_success_tick.png">
			<h5>Booking is</h5>
			<h4>Successful</h4>
			<hr>
		</div>
	</div>
</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer padding class="textCenter">
	<div class="s_download_footer">
		<img src="assets/imgs/s_download.png">
		<p>Download your Voucher</p>
	</div>
</ion-footer>

<!-- ENDS-FOOTER -->
