<div class="s_home_tab_bar">
	<ul>
		<li (click)="open_page('PrescriptionPage')"><div class="s_home_tab_menu s_home_menu1"></div></li>
		<li><div class="s_home_tab_menu s_home_menu2"></div></li>
		<li><div class="s_home_tab_menu s_home_main_search"></div></li>
		<li (click)="open_page('AppointmentPage')"><div class="s_home_tab_menu s_home_menu3"></div></li>
		<li (click)="profile()"><div class="s_home_tab_menu s_home_menu4"></div></li>
	</ul>
</div>