<ion-content class="theme_plain">
	<div class="nav_header">
		<button class="nav_btn floatLeft nav_grey_back" (click)="dismiss()"></button>
		<button class="nav_btn floatRight"></button>
		<div class="clear"></div>
	</div>
	<div class="s_forgot_container">
		<div class="s_forgot_head">
			<img src="assets/imgs/s_forgot.png">
			<h5>Forgot Password</h5>
			<p>Please enter your registered mobile number<br> to change your password</p>
			<div class="s_mobile_number">
				<ion-grid>
				  <ion-row>
				    <ion-col col-3 class="">
				      <select class="s_mobile_input s_mobile_drop">
				      	<option>+91</option>
				      </select>
				    </ion-col>
				    <ion-col col-9 class="">
				      <ion-input class="s_mobile_input" placeholder="9961531199"></ion-input>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</div>
		</div>
	</div>
</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer padding>
	<button ion-button class="s_sort_apply_btn theme_background_four text_color_one" (click)="dismiss()">Submit</button>
</ion-footer>

<!-- ENDS-FOOTER -->
