
<ion-content>
	<div class="s_result_detail_container weightFull heightFull">

<!-- STARTS-BANNER -->

		<div class="s_home_banner theme_print textCenter" style="padding-top: 50px;">
			<div class="nav_header theme_background_two fixed top0 left0 right0">
				<button class="nav_btn floatLeft nav_back" (click)="goBack()"></button>
				<button class="nav_btn floatRight s_notification"></button>
				<div class="clear"></div>
			</div>
			<div class="s_home_circle theme_background_three">
			</div>
			<h4 class="text_color_white">Dr. Morgan Freeman</h4>
			<p>Ayurveda<span><img src="assets/imgs/s_pink_dot.png"></span>KIIMS Ayurveda</p>
			<button ion-button class="s_booknow theme_background_four text_color_one" (click)="scrollElement('book')" >Book now<span><img src="assets/imgs/s_pointer.png"></span></button>
		</div>

<!-- ENDS-BANNER -->

<!-- STARTS-RESULT-DETAIL -->

		<div class="s_search_result_detail">

<!-- STARTS-RESULT-DETAIL-TAB -->
	
			<div class="s_search_result_tab_bay" [class.topbar]="{active: scrollPosition > 90}" >
				<ion-grid class="p0">
				  <ion-row class="p0">
				    <ion-col [class.active]="tab == 'about'" class="p0 textLeft" (click)="scrollElement('about')">
				    <span><img src="assets/imgs/s_about.png"></span>
				      <span>About</span>
				    </ion-col>
				    <ion-col [class.active]="tab == 'gallery'"  class="p0 textLeft" (click)="scrollElement('gallery')">
				    <span><img src="assets/imgs/s_gallery.png"></span>
				      <span>Gallery</span>
				    </ion-col>
				    <ion-col [class.active]="tab == 'qa'" class="p0 textLeft" (click)="scrollElement('qa')">
				    <span><img src="assets/imgs/s_qa.png"></span>
				      <span>Q & A</span>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			</div>

<!-- ENDS-RESULT-DETAIL-TAB -->

<!-- STARTS-RESULT-DETAIL-CONTENTS -->
			
			<div class="s_search_result_head_panel text_color_one">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_map.png">
				</div>
				<h5>MAP</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<div class="s_search_map">
					<div #map id="map"></div> 
				</div>
				<p>KMS Ayurveda Clinic</p>
				<div class="s_segment_tabs">
					<ion-segment [(ngModel)]="consultation">
					      <ion-segment-button value="visit">
					        VISIT
					      </ion-segment-button>
					      <ion-segment-button value="online">
					        ONLINE
					      </ion-segment-button>
	   				</ion-segment>
   				</div>
				    <div [ngSwitch]="consultation">
					    <ion-list *ngSwitchCase="'visit'">
					    1
					    </ion-list>

					    <ion-list *ngSwitchCase="'online'">
						2
					    </ion-list>
				  	</div>
				<div class="s_search_appointment_list" id="book">
					<ion-scroll scrollX="true" style="height:100px;">
						<ul>
						<ion-row nowrap>		
								<li class="s_search_appointment_inner">
									<p><strong>Wed 5 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 6 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 8 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 9 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 10 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>
								<li class="s_search_appointment_inner">
									<p><strong>Wed 11 </strong>2017</p>
									<ul>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>05.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>06.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li><br>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>07.00</p>
									          </label>
      										</div>
										</li>
										
									</ul>
								</li>

						</ion-row>
						</ul>
					</ion-scroll>
				</div>
			</div>
			<div class="s_search_result_head_panel text_color_one" id="about">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_abouts.png">
				</div>
				<h5>ABOUT</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h6>
				<button class="s_more">More</button>
			</div>
			<div class="s_search_result_head_panel text_color_one" id="gallery">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_gallerys.png">
				</div>
				<h5>GALLERY</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<div class="s_search_gallery_list">
					<ion-scroll scrollX="true" style="height:100px;">
						<ul>
							<ion-row nowrap class="textLeft">
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p1.png"></div></li>
								<li><div class="s_search_gallery_list_inner"><img src="assets/imgs/s_p2.png"></div></li>
							
							</ion-row>
						</ul>
					</ion-scroll>
				</div>
			</div>
			<div class="s_search_result_head_panel text_color_one">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_play.png">
				</div>
				<h5>VIDEO</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<div class="s_video_gallery">
					<ion-scroll scrollX="true" style="height:150px;">
					<ul>
						<ion-row nowrap class="textLeft">
						<li>
							<!-- <div class="s_video_gallery_inner">
								<youtube-player [videoId]="id"></youtube-player>
							</div> -->
							<div class="video">
							    <video controls (click)="toggleVideo()" #videoPlayer>
							        <source src="{{videoSource}}" type="video/mp4" />
							        Browser not supported
							    </video>
							</div>
						</li>
						<li>
							<!-- <div class="s_video_gallery_inner">
								<youtube-player [videoId]="id"></youtube-player>
							</div> -->
							<div class="video">
							    <video controls (click)="toggleVideo()" #videoPlayer>
							        <source src="{{videoSource}}" type="video/mp4" />
							        Browser not supported
							    </video>
							</div>
						</li>
						</ion-row>
					</ul>
					</ion-scroll>
				</div>
			</div>
			<div class="s_search_result_head_panel text_color_one">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_article.png">
				</div>
				<h5>ARTICLES</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<div class="s_search_article">
					<ul>
						<li >
							<div class="s_article_pic">
								<img src="assets/imgs/s_img.png">
							</div>
							<div class="s_article_detail">
								<h5>Hair care</h5>
								<h3>Hair Breakage Cause</h3>
								<p>Dr.Morgan Freeman</p>
								<span><img src="assets/imgs/s_like.png"></span>
								<span><img src="assets/imgs/s_share.png"></span>
							</div>
							<div class="clear"></div>
						</li>
					</ul>
					<button class="s_more" (click)="open_page('ArticlecategoryPage')">View All</button>
				</div>
			</div>
			<div class="s_search_result_head_panel text_color_one" id="qa">
				<div class="s_head_panel_circle theme_background_one">
					<img src="assets/imgs/s_ques.png">
				</div>
				<h5>Q & A</h5>
				<div class="clear"></div>
			</div>
			<div class="s_search_panel_detail">
				<div class="s_qa_detail_list">
					<ul>
						<li>
							<div class="s_qa_question_head" (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}">
								Lorem ipsum Question sample 
							</div>
							<div class="s_qa_answer_div" *ngIf="isGroupShown(0)">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
							</div>
						</li>
						<li>
							<div class="s_qa_question_head" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
								Lorem ipsum Question sample 
							</div>
							<div class="s_qa_answer_div" *ngIf="isGroupShown(1)">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
							</div>
						</li>
						<li>
							<div class="s_qa_question_head" (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
								Lorem ipsum Question sample 
							</div>
							<div class="s_qa_answer_div" *ngIf="isGroupShown(2)">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
							</div>
						</li>
					</ul>
					<button class="s_more theme_transparent" (click)="ask()">Ask a Question +</button>
				</div>
			</div>

<!-- ENDS-RESULT-DETAIL-CONTENTS -->


		</div>

<!-- ENDS-RESULT-DETAIL -->

	</div>
</ion-content>
