
<!-- HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft">Neurologist</div>
  	<button class="nav_btn nav_not floatRight"></button>
  	<div class="clear"></div>
  </div>
  <div class="nav_header">
  	<div class="nav_filter_bay">
  		<ul>
	  		<li (click)="sortfilter()">Sort & Filter</li>
	  		<li class="floatRight s_search_loc" (click)="map()">Map</li>
  		</ul>
  	</div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content class="theme_off_white">

<!-- STARTS-RESULT-LIST-->

	<div class="s_searchresult_div">
		<ul>
			<li (click)="open_page('ResultdetailPage')">
				<div class="s_search_pic floatLeft">
				</div>
				<div class="s_search_detail floatRight">
					<div class="s_search_detail_inner floatLeft">
						<h4>Dr Elezebeth</h4>
						<p>MBBS, FRCS</p>
						<h6>Ayurveda<span><img src="assets/imgs/s_dot.png"></span>KIMS Ayurvedic Hospital</h6>
						<h5>Available at 22/05/2017</h5>
					</div>
					<div class="s_search_enter floatRight">
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>

			<li (click)="open_page('ClinicdetailPage')">
				<div class="s_search_pic floatLeft">
				</div>
				<div class="s_search_detail floatRight">
					<div class="s_search_detail_inner floatLeft">
						<h4>Praontia Clinic & Nursing home</h4>
						<p>Primary Health care Center</p>
						<h6>Ayurveda & <span><img src="assets/imgs/s_dot.png"></span>Pediatric</h6>
						<h5>Available at 23/05/2017</h5>
					</div>
					<div class="s_search_enter floatRight">
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>
		</ul>
	</div>

<!-- ENDS-RESULT-LIST-->

</ion-content>
