<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft widthAuto">Articles Listing</div>
  	<button class="floatRight s_view_btn">View Saved</button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<div class="s_article_category_list">
		<ul>
			<li>
				<div class="s_article_category_head" (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}">
					<div class="s_article_circle_add theme_background_four text_color_one">
						+
					</div>
					<div class="s_article_circle_name">
						Hair Care
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_article_category_content" *ngIf="isGroupShown(0)">
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Hair Breakage
						</div>
						<div class="clear"></div>
					</div>
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Thick hair
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="s_article_category_head" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
					<div class="s_article_circle_add theme_background_four text_color_one">
						+
					</div>
					<div class="s_article_circle_name">
						Healthy Heart
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_article_category_content" *ngIf="isGroupShown(1)">
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Hair Breakage
						</div>
						<div class="clear"></div>
					</div>
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Thick hair
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="s_article_category_head" (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
					<div class="s_article_circle_add theme_background_four text_color_one">
						+
					</div>
					<div class="s_article_circle_name">
						Weight Gain
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_article_category_content" *ngIf="isGroupShown(2)">
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Hair Breakage
						</div>
						<div class="clear"></div>
					</div>
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Thick hair
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="s_article_category_head" (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}">
					<div class="s_article_circle_add theme_background_four text_color_one">
						+
					</div>
					<div class="s_article_circle_name">
						Oral Hygiene
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_article_category_content" *ngIf="isGroupShown(3)">
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Hair Breakage
						</div>
						<div class="clear"></div>
					</div>
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Thick hair
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="s_article_category_head" (click)="toggleGroup(4)" [ngClass]="{active: isGroupShown(4)}">
					<div class="s_article_circle_add theme_background_four text_color_one">
						+
					</div>
					<div class="s_article_circle_name">
						Cancer Prevention
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_article_category_content" *ngIf="isGroupShown(4)">
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Hair Breakage
						</div>
						<div class="clear"></div>
					</div>
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Thick hair
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="s_article_category_head" (click)="toggleGroup(5)" [ngClass]="{active: isGroupShown(5)}">
					<div class="s_article_circle_add theme_background_four text_color_one">
						+
					</div>
					<div class="s_article_circle_name">
						Acne
					</div>
					<div class="clear"></div>
				</div>
				<div class="s_article_category_content" *ngIf="isGroupShown(5)">
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Hair Breakage
						</div>
						<div class="clear"></div>
					</div>
					<div class="s_article_category_head1" (click)="open_page('ArticlelistPage')">
						<div class="s_article_circle_add1">
							+
						</div>
						<div class="s_article_circle_name1">
							Thick hair
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</ion-content>
