<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft widthAuto">Details</div>
  	<button class="nav_btn nav_bookmark floatRight"></button>
	<button class="nav_btn nav_share floatRight"></button>
	<button class="nav_btn nav_like floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<div class="s_article_detail_banner">
		<div class="s_article_detail_pic floatLeft">
		</div>
		<div class="s_article_details floatRight">
		<div class="s_article_detail_inner floatLeft">
			<h4>Dr Elezebeth</h4>
			<h6>Ayurveda<span><img src="assets/imgs/s_dot.png"></span>KIMS Ayurvedic Hospital</h6>
		</div>
		<div class="s_article_enter floatRight">
			<p>DEC-6-2017</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	</div>
	<div class="s_article_img">
		<img src="assets/imgs/s_img2.png">
	</div>
	<div class="s_article_more">
		<h5>Articles</h5>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>

</ion-content>
