<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft">Wallets</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content padding class="theme_off_white">
	<div class="s_wallet_container">
		<div class="s_signup_row">
			<div class="s_signup_input_container">
				<ion-input class="s_signup_input" type="amount" placeholder="Enter Amount"></ion-input>
			</div>
		</div>
		<p>Previous Amount</p>
		<div class="s_search_appointment_inner">
			<ul>
					<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="1" type="radio" name="services" value="">
									            <p>$ 200</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="2" type="radio" name="services" value="">
									            <p>$ 300</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="3" type="radio" name="services" value="">
									            <p>$ 400</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="4" type="radio" name="services" value="">
									            <p>$ 500</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="5" type="radio" name="services" value="">
									            <p>$ 600</p>
									          </label>
      										</div>
										</li>
										<li>
											<div id="s_custom_check_button">
									          <label>
									            <input id="6" type="radio" name="services" value="">
									            <p>$ 700</p>
									          </label>
      										</div>
										</li>				
										
										
			</ul>
			<br>
			<hr>
		</div>
		<div class="s_payment_tab">
			<!-- <ul [(ngModel)]="payment">
				<li value="card">
					<span><img src="assets/imgs/s_card.png"></span>Credit Card</li>
				<li value="cash">
					<span><img src="assets/imgs/s_phonecash.png"></span>Phone Cash</li>
				<li value="paypal">
					<span><img src="assets/imgs/s_paypal.png"></span>Paypal</li>
			</ul> -->
			<ul>
			<ion-segment [(ngModel)]="payment">
				<ion-segment-button value="card">
					       <li>
					<span><img src="assets/imgs/s_card.png"></span>Credit Card</li>
				</ion-segment-button>
				<ion-segment-button value="cash">
					        <li>
					<span><img src="assets/imgs/s_phonecash.png"></span>Phone Cash</li>
				</ion-segment-button>
				<ion-segment-button value="paypal">
					        <li>
					<span><img src="assets/imgs/s_paypal.png"></span>Paypal</li>
				</ion-segment-button>
	   		</ion-segment>
	   		</ul>
		</div>
		<div class="s_payment_detail" [ngSwitch]="payment">
			<div *ngSwitchCase="'card'">
				<div class="s_payment_inner">
					<input class="s_payment_input" placeholder="Enter your card number">
					<div class="s_payment_inner_row">
						<div class="s_payment_inner_container floatLeft">
							<input class="s_payment_input textCenter p0" placeholder="MM">
						</div>
						<div class="s_payment_inner_container floatLeft">
							<input class="s_payment_input textCenter p0" placeholder="YY">
						</div>
						<div class="s_payment_inner_container1 floatRight">
							<input class="s_payment_input textCenter p0" placeholder="CVV">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<button ion-button class="s_sort_apply_btn theme_background_four text_color_one">Pay<span><img src="assets/imgs/s_check.png"></span></button>
			</div>
			<div *ngSwitchCase="'cash'">
				<div class="s_payment_inner">
					2
				</div>
			</div>
			<div *ngSwitchCase="'paypal'">
				<div class="s_payment_inner">
					3
				</div>
			</div>
		</div>
	</div>
</ion-content>
