
<ion-content class="heightFull theme_plain">

<!-- SIGNUP-CONTAINER-STARTS -->

	<div class="s_signup_container heightFull">

<!-- SIGNUP-BANNER-STARTS -->

		<div class="s_signup_banner">
			<div class="nav_header theme_background_two fixed top0 left0 right0">
				<button class="nav_btn floatLeft nav_back"  (click)="goBack()"></button>
				<button class="nav_btn floatRight"></button>
				<div class="clear"></div>
			</div>
			<div class="s_signup_pic_circle">
			</div>
		</div>

<!-- ENDS-SIGNUP-BANNER -->

<!-- SIGNUP-FORM-STARTS -->

		<div padding class="s_signup_form">
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="First Name"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="Last Name"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_radio_check">
					<label class="radio inline"> 
	      				<input type="radio" name="sex" value="male" checked>
	      				<span> Male </span> 
   					</label>
				  <label class="radio inline"> 
				      <input type="radio" name="sex" value="female">
				      <span>Female </span> 
				  </label>
				  <div class="clear"></div>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="Email"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="Password"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="Mobile"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input s_signup_location" placeholder="My Location"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="Country"></ion-input>
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="State"></ion-input>.
				</div>
			</div>
			<div class="s_signup_row">
				<div class="s_signup_input_container">
					<ion-input class="s_signup_input" placeholder="District"></ion-input>
				</div>
			</div>
		</div>

<!-- SIGNUP-FORM-ENDS -->


	</div>

<!-- ENDS-SIGNUP-CONTAINER -->

</ion-content>

<!-- STARTS-FOOTER -->

<ion-footer padding>
	<div class="s_login_input_container">
		<button ion-button class="s_login_btn theme_background_one" (click)="otp()">SIGNUP<span><img src="assets/imgs/s_arw.png"></span></button>
	</div>
</ion-footer>

<!-- ENDS-FOOTER -->
