<!-- STARTS-HEADER -->

<ion-header class="theme_background_one">
  <div class="nav_header">
  	<button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
  	<div class="nav_header_title textLeft floatLeft">Appointment Details</div>
  	<button class="nav_btn floatRight"></button>
  	<div class="clear"></div>
  </div>
</ion-header>

<!-- END-HEADER -->

<ion-content class="theme_off_white">
	<div class="s_searchresult_div">
		<ul>
			<li class="theme_transparent" style="box-shadow: none !important;">
				<div class="s_search_pic floatLeft">
				</div>
				<div class="s_search_detail floatRight">
					<div class="s_search_detail_inner floatLeft" style="padding-top: 20px;">
						<h4 class="textLeft">Dr Elezebeth</h4>
						<p>Dec - 6 - 2017&nbsp;&nbsp;10.00 am</p>
					</div>
					<div class="s_call floatRight" (click)="open_page('ContacthistoryPage')">
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>
		</ul>
	</div>
	<div class="s_appointment_details">
		<h5 class="text_color_one">Appointment Details</h5>
		<div class="s_appointment_inner">
			<ul>
				<li>
					<ion-grid class="p0">
					  <ion-row>
					    <ion-col class="p0">
					      <strong>illness</strong>
					    </ion-col>
					    <ion-col class="p0">
					      Skin
					    </ion-col>
					  </ion-row>
					</ion-grid>
				</li>
				<li>
					<ion-grid class="p0">
					  <ion-row>
					    <ion-col class="p0">
					      <strong>Date</strong>
					    </ion-col>
					    <ion-col class="p0">
					      Dec 6 2017
					    </ion-col>
					  </ion-row>
					</ion-grid>
				</li>
				<li>
					<ion-grid class="p0">
					  <ion-row>
					    <ion-col class="p0">
					      <strong>Time</strong>
					    </ion-col>
					    <ion-col class="p0">
					      10 am
					    </ion-col>
					  </ion-row>
					</ion-grid>
				</li>
				<li>
					<ion-grid class="p0">
					  <ion-row>
					    <ion-col class="p0">
					      <strong>Appointment Status</strong>
					    </ion-col>
					    <ion-col class="p0">
					      Confirm
					    </ion-col>
					  </ion-row>
					</ion-grid>
				</li>
				<li>
					<ion-grid class="p0">
					  <ion-row>
					    <ion-col class="p0">
					      <strong>Hospital Address</strong>
					    </ion-col>
					    <ion-col class="p0">
					      Hospital name <br>
					      simply dummy content
					    </ion-col>
					  </ion-row>
					</ion-grid>
				</li>
				<li>
					<ion-grid class="p0">
					  <ion-row>
					    <ion-col class="p0">
					      <strong>Appointment Type</strong>
					    </ion-col>
					    <ion-col class="p0">
					      Online
					    </ion-col>
					  </ion-row>
					</ion-grid>
				</li>
			</ul>
		</div>
	</div>
</ion-content>
